[2015-07-22 00:54] darkyen opened #1 "Why not use componentHandler instead ?"
The wrapper is nice ! but i wonder why are you not using the way recommended for dynamic content generation by material design team ?

[2015-07-22 00:56] darkyen commented on #1
the code can then simply become
[code]

[2015-07-22 02:18] tleunen commented on #1
Good point. To be honest, I never thought about their `upgradeComponent` function...
Sure it will work and as you said, it will simplifies a lot the code and will make sure the code stays in sync. But I don't like the fact the entire JS file will be required to make that work. The current MDL implementation is not really module friendly. Maybe that will change in the future.

With your code sample

[2015-07-22 05:36] darkyen commented on #1
Not really when components are passed you can use the element.widget to update them :) using the api and selectively have it update and reMount on update that can be packed as a mixin or sebmecks higher order classes. Also about modularity that is indeed a. Bummer so far but as of now you need the file anyways and when modularity will come it should be a transparent update for the user ... Btw the

[2015-07-22 12:50] tleunen commented on #1
Currently, the master js file is not needed.

I'll investigate this path of including it and make the component just "container" calling the upgrade/downgrade function.
Not sure yet how to do for the Layout/Drawer though. Any idea?

[2015-07-23 10:38] darkyen commented on #1
@tleunen For layouts I'd say a mix of both, you can listen to events and call React.render on individual props when you wish to dynamically render them out of react context but that will not be justice. I'd say use react to create the html and then call .upgrade.

Have a look at http://darkyen.github.io/react-ui-components/

It is a hybrid method of doing what you did.

[2015-07-23 12:45] tleunen commented on #1
I'll make some tests this weekend using the component upgrade feature. I'll create a specific branch for that so you can see what I'm doing

[2015-07-23 17:30] darkyen commented on #1
I'd love to help :-) , Then I can move basic components out of my ui-components and have only common app ones there.

[2015-07-25 18:47] tleunen commented on #1
Tried something on this branch https://github.com/tleunen/react-mdl/tree/component-upgrade
What do you think?

[2015-07-25 20:54] darkyen commented on #1
:D :D thats awesome !

Much better than my small implementation :D +1 + 1

[2015-07-25 21:01] darkyen commented on #1
[code]

[2015-07-26 22:30] tleunen commented on #1
I played a bit with my implementation and it had some issues. I cannot register the MDL components on the fly because the order of registered components inside MDL is important. I cannot register the Ripple Effect because Button (or Switch) for example.
So I'm removing that part, and until I find a better way (or MDL fixes this part), the MDL js file will be needed so we have the global `component

[2015-07-29 17:42] tleunen commented on #1
I'll close this issue..
I refactored a bit some of the current components (should push everything later tonight).
I'll work on adding the missing components as well before 1.0.

[2015-07-29 17:42] #1 closed

[2015-07-29 17:43] tleunen opened #2 "Add better documentation/example website"

[2015-07-29 18:15] darkyen commented on #1
Awesome.

[2015-07-31 01:48] darkyen commented on #1
Perfect :-)

[2015-08-09 11:56] marcelpanse opened #3 "Uncaught TypeError: type.toUpperCase is not a function in ReactDefaultInjection.js:53"
I'm trying react-mdl, but I get a error message in the console on some components like Card and Footer. For example, this is my class:

[code]

The MDL components are working fine when using MDL directly with div classes, but not with the react-mdl components.

I don't know what I'm doing wrong, I'm using these versions:

[code]

UPDATE: Just found that importing the source file directly fixes the

[2015-08-09 21:55] tleunen commented on #3
Sorry about that, I published 0.9.1 earlier to fix the issue.

Let me know if you still have the bug once you update

[2015-08-09 23:56] darkyen commented on #1
my latest commit just removed all of my custom code for your implementation :dart: the latest build is incredible.

[2015-08-09 23:56] darkyen commented on #2
I would like to contribute in any way possible.

[2015-08-10 00:11] tleunen commented on #1
Thanks ;)

[2015-08-10 00:17] tleunen commented on #2
By using it, you already contribute because you might encounter some issues or have new suggestions to improve the library so thanks for that ;)

About the doc, I was thinking of something quite similar to the official doc, (based on this page http://www.getmdl.io/components/index.html) to list the components, show examples with code.

I'd built it based on react-mdl so at the same time it's a goo

[2015-08-10 07:15] marcelpanse commented on #3
Hi, I've upgraded to v0.9.1 but still have the same issue.

[2015-08-10 10:09] tleunen commented on #3
Hmm ok, will take a look

[2015-08-10 11:38] tleunen commented on #3
Just tested your example and it works fine for me with 0.9.1.
Are you sure it's the version you use?
Check the index.js file from the downloaded react-mdl and the one from the repository. They should be the same.

In 0.9.1, I changed it so it properly exports `Card`.

[2015-08-10 11:51] marcelpanse commented on #3
Hmm, very strange, I have the newest files and I see the changes in index.js where you changed it to Card: Card.default, but still the same error.

I will try it on a clean project without any other packages and see if I can reproduce it and upload it to a public git repo so you can test it..

[2015-08-10 12:33] tleunen commented on #3
Oh I see the error.
You should use this syntax:
[code]

React-mdl is a set of multiple components, therefore you have to get the one you need. Otherwise you can do this:
[code]

But the first example in your initial post should work fine.

[2015-08-10 15:00] marcelpanse commented on #3
It works!

I actually did try that as you can see in my initial question, but then it probably didn't work because of the bug you fixed in 0.9.1.

Thanks

[2015-08-10 15:00] #3 closed

[2015-08-10 15:08] tleunen commented on #3
Exactly :)

[2015-08-10 23:24] tleunen opened #4 "componentWillUnmount not called"
`componentWillUnmount` is never called if the application uses the Layout component.

The Layout component in MDL modify the tree because it creates a container and move the initial node inside the newly created container, which seems to cause some issues for React.
The result of this is that `componentWillUnmount` for the components inside Layout (which means all the components)

Not a lot of sol

[2015-08-11 15:29] tleunen commented on #4
I submitted a fix in the MDL repo but unfortunately it won't land before v2...

[2015-08-13 07:20] darkyen commented on #1
Makes sense.

MDL's tabs are pretty limited, and honestly tabs are hard to implement in a framework agnostic way (I personally have my own version of swipe tabs for android built using their styles)

[2015-08-13 07:28] marcelpanse opened #5 "onClick on a Button?"
How do I add an onClick function to a MDL Button?

[code]

doSomething never gets called. It does work with onChange on a Checkbox. I checked the sources and it seems that the checkbox adds the onChange to the props, but button does not. Is that it, or should it work out of the box?

[2015-08-13 08:18] eisneim opened #6 "Textfield with react-router cause "Invariant Violation" Error"
a page contains Textfield and when hit a link change the route, it will throw this Error:
[code]
the problem is in react's ReactMount.js: 631 findReactContainerForID(id)
[code]

[2015-08-13 12:20] bvleur commented on #5
The `onClick` event for Button is working fine for me (react-mdl@0.9.1)

[2015-08-13 19:11] marcelpanse commented on #5
Typo on my side, apologies!

[2015-08-13 19:11] #5 closed

[2015-08-15 16:09] tleunen commented on #6
I never experienced this error with the textfield component. Only with the layout.
And based on your log, it seems you're also using the layout component. (from react-mdl or not, it doesn't really matter I think). But it's causing some issues that I described here (https://github.com/google/material-design-lite/issues/1356). I submitted a fix but it cannot be merged before the next major version.

[2015-08-17 06:13] eisneim commented on #6
thanks so much!

[2015-08-19 04:28] iquabius opened #8 "Textfield broke inside Navigation"
The [Navigation:L10](https://github.com/tleunen/react-mdl/blob/master/src/layout/Navigation.js#L10) component in injecting *mdl-navigation__link*  class into the input tag in the Textfield component:

[code]

[2015-08-20 00:41] #8 closed

[2015-08-20 00:42] tleunen commented on #8
Thanks for reporting the issue @iquabius. It should be fixed now. It was something I introduced in the 0.10 :/

[2015-08-20 00:45] tleunen commented on #6
If you want to use the Layout component, I suggests you use my custom [material.js](https://github.com/tleunen/react-mdl/blob/master/demo/material.js) and [material.css](https://github.com/tleunen/react-mdl/blob/master/demo/material.css) files.

This is based on the latest version of MDL (1.0.4 when writing this post).

[2015-08-20 00:45] #6 closed

[2015-08-20 09:51] bvleur opened #9 "Can't include demo/material.js from npm installed packaged"
Per the current README projects integrating react-mdl should use the material.js from the  `/demo/` but it is excluded using `.npmignore`.

It would be nice if the customized `material.js` is made available in the npm package. Maybe in a different folder?

[2015-08-20 12:36] #9 closed

[2015-08-20 12:38] tleunen commented on #9
I didn't build the minified files tho. Will think about it for the next release of MDL ;)

[2015-08-22 05:20] eisneim commented on #6
thanks, i'm gonna try it

[2015-08-22 17:27] cjk commented on #9
@bvleur The files are found in the /extra folder. You should be able to integrate them using Webpack et.al. or just copy / symlink them to a local assets-folder and add a script-tag.
But yeah, a minified version for the latter case would be nice.

[2015-08-26 08:42] Graf009 opened #13 "A problem with upgradeElement"
I am using the react-model and react-mdl have an error when called
[code]
[code]
It may be replaced upgradeElement(React.findDOMNode(this)) by upgradeDom(), this solves the problem. What are some other ideas?

[2015-08-26 10:12] darkyen commented on #2
I see you have started the docs in a branch, can you create a roadmap maybe ?

[2015-08-26 10:15] darkyen commented on #4
An approach taken by react-winjs uses hooks to inject components inside on function callbacks, i guess we can't do much here because react doesn't like changes occuring outside its virtual dom.

[2015-08-26 10:57] slybridges opened #14 "[idea] Use MDL SCSS files instead of compiled CSS ?"
Hi,

I've just started playing with `react-mdl` and it looks quite promising !

One question though: as we only have CSS version of the modified MDL styles, I was wondering how best to change the styling, like the `$color-primary`  without going everywhere and replace all occurrences in the compiled CSS?

It would be awesome to have the modified SCSS files in this repo so that we can integrate the

[2015-08-26 12:07] darkyen commented on #14
+1

[2015-08-26 12:51] tleunen commented on #14
Good idea!
I'll add it later today in the repo :)
In the meantime, you can find my only changes in this file https://github.com/google/material-design-lite/pull/1357/files#diff-e8d273098ad170740ae489c057f29e9d

[2015-08-26 12:55] tleunen commented on #13
Hmm... Do you have a code example?
BEcause `upgradeDom` uses `upgradeElement` internally... So I'm a bit surprised if the error only occurs when using `upgradeElement`.

In the end, it might be related to this other issue https://github.com/tleunen/react-mdl/issues/4. But I'm not sure it was the exact same error. With a code example, I could investigate this.

[2015-08-26 12:56] tleunen commented on #2
Indeed I started a new branch while it's still in progress. Every day I try to convert the demos into the newly doc website ;)

[2015-08-26 14:19] lislamov opened #15 "IconButton and Menu broke inside Header"
Problem like in #8 the Navigation component injecting mdl-navigation__link class
when i try this
[code]
I get such a result

[code]

[2015-08-26 16:04] tleunen commented on #15
With this https://github.com/tleunen/react-mdl/pull/11, we actually removed the injected `mdl-navigation__link` because we remove the navigation from the header.

The code is not yet on NPM though, I want to make sure everything works as expected before pushing it.
Maybe you could try with the latest version from master and tell us if it fixes your issue in the meantime?

[2015-08-26 16:53] lislamov commented on #15
I tried last version from master, ```Header``` with ```Menu``` is ok now
but ```Drawer``` broken
there is no ```<nav>``` tag, and ```mdl-navigation__link``` class in ```<a>``` tag

[code]

[2015-08-26 18:07] tleunen commented on #15
Did you tried something like this?
[code]

[2015-08-26 19:54] darkyen opened #16 "Expandable Textfield has no .mdl-textfield__label for accent underline"
As documented on the mdl website `.mdl-textfield__label` is required, it also contains the pseudo element that draws the underline.

[code]

When using Textfield like

[code]

The `.mdl-textfield__label` is not injected and the resultant dom looks like the following thus the underline is not rendered.

[code]

PS: Excuse my english.

[2015-08-26 20:11] darkyen opened #18 "How to change direction of expandable input ?"
Seems like the order of the elements in the expandable textfield decides which direction it will expand is there a switch to control this ?

[2015-08-27 01:09] #16 closed

[2015-08-27 01:16] tleunen commented on #18
The order doesn't seem to impact the rendering.
I can see in the CSS that the icon is always aligned on the left.

You should create a ticket in the MDL repo to ask the team to create something to inverse the order.
What you could do also is update the position with CSS.

I'll close this since it's out of scope.

[2015-08-27 01:16] #18 closed

[2015-08-27 01:28] tleunen commented on #14
I added the files inside master.
I'll publish a new version on NPM in the next days with the recent changes

[2015-08-27 01:28] #14 closed

[2015-08-27 05:34] slybridges commented on #14
Awesome, thanks !
I see you only included the modified _layout.scss. Is it safe to pull out other scss files from the master branch of the official mdl repo you think ? Or should I look at a particular revision ?

[2015-08-27 10:02] lislamov commented on #15
just now, yes is works

[2015-08-27 10:03] #15 closed

[2015-08-27 11:46] Graf009 commented on #13
I'll add an example later

[2015-08-27 11:58] web2style opened #20 "NPM package is broken when installing from a github url"
Installed the package via npm. When trying to import it:

[code]
I get the following errors:

[code]

There's no `lib` folder in the package directory:

![screenshot_1](https://cloud.githubusercontent.com/assets/2179726/9519973/37e08eea-4ccc-11e5-9f2b-65c3aa4a7bcd.png)

[2015-08-27 12:57] tleunen commented on #20
The lib folder is missing your your hierarchy.. That's weird! I'll take a look.

[2015-08-27 13:30] tleunen commented on #20
Not sure why you end up without the lib folder, but have you tried a clean install?
On my side, it seems to work fine.
<img width="644" alt="screen shot 2015-08-27 at 9 28 20 am" src="https://cloud.githubusercontent.com/assets/1972567/9521655/1723517a-4c9e-11e5-926b-4608b8be1854.png">

[2015-08-27 15:23] web2style commented on #20
Maybe the problem occurs because I install the package from my fork at github:

[code]

And I can't try to install it from npm because it's version doesn't include my pull request (yet, I think) because of react version conflict.

[2015-08-27 16:30] darkyen commented on #18
Hmm i noticed it now, sorry about the false call x)

[2015-08-27 19:15] darkyen commented on #20
@web2style  do yo run the buildscript after you install ?

[2015-08-27 21:29] web2style commented on #20
No. There's nothing about it in the README.

[2015-08-27 22:43] tleunen commented on #14
You should use the ones from the release branch on MDL https://github.com/google/material-design-lite/tree/release

[2015-08-27 22:48] tleunen commented on #20
Because you're getting the files from github, you actually don't have the compiled files. Therefore, you have to compile the files yourself with `npm run compile` in the react-mdl directory.

The compiled files are only pushed on NPM when a new version is published.

[2015-08-28 06:55] slybridges commented on #14
👍🏼

[2015-08-28 07:47] Graf009 commented on #13
Demo: https://gist.github.com/Graf009/ad0131583c2bb9a07f7c
I think the problem in React.findDOMNode(this), React can not find the element node.

[2015-08-28 12:37] tleunen commented on #13
Would need to investigate on this one.
Probably caused by the way `react-modal` works.

[2015-08-28 14:46] web2style commented on #20
When installing from github, there's no `src` directory either. So `npm run compile` returns `src doesn't exist` error.

[2015-08-28 15:03] tleunen commented on #20
Hmm.. Not sure how to fix this thing. Maybe someone has an idea?
I don't want to put the src folder on npm, but because of that it doesn't seem to get fetched when we install it from a github url.

I'll reopen, maybe someone can help here.

[2015-08-28 15:09] darkyen commented on #20
How about registering a browserify transform ?! So that browserify compiles
this from src ? (For gh purposes only)
On Aug 28, 2015 8:34 PM, "Tommy" <notifications@github.com> wrote:

[2015-08-28 15:19] slybridges commented on #20
Any reason why you don't want to include the sources on NPM @tleunen ?
I actually find it's easier to have the sources when investigating a potential bug or wanting to fiddle around with the libs.
And MDL team actually ended including the sources in their NPM because of most people asking for it.
https://github.com/google/material-design-lite/issues/793

[2015-08-28 15:22] tleunen commented on #20
The end user cannot do anything with the source since it needs a compilation step. So I was thinking to remove it from npm, but if it's the only solution to get the src folder when installing from github, I guess I'd remove it from the ignore file

[2015-08-28 15:26] slybridges commented on #20
As long as the `README` mentions that compiled components are in `lib` and that compenents can be recompiled with `npm install && npm run compile`, it shouldn't be a problem I'd say.

[2015-09-02 11:43] #20 closed

[2015-09-02 23:26] iquabius opened #26 "Missing css class in navigation links"
![screenshot from 2015-09-02 19 21 28](https://cloud.githubusercontent.com/assets/3139777/9647162/3230952c-51a8-11e5-9228-13f0ce0388ec.png)

Probably related: #8

[2015-09-03 12:02] tleunen commented on #26
Is it from the demo? Or your project?
I forgot to update the demos with the latest version of react-mdl but it seems the navigation is missing.
The latest version introduces the `Navigation` component and you have to explicitely create it now. It's not auto created when you put links in a header.

So it should be something like this:
[code]
The reason why we did this is to allow having something e

[2015-09-03 12:46] iquabius commented on #26
That's from the demo, I didn't thought of that. Just saw it was broke and reported it.

I'll try the new way (which actually looks more flexible), and I get back if needed.

[2015-09-03 12:46] #26 closed

[2015-09-03 12:49] tleunen commented on #26
Thanks :) Sorry for the demos, I'm working on a new website with examples so they will be removed anyways :)

[2015-09-07 03:37] jlc467 opened #27 "Tabs should have option to ripple"
Pleasure to use this library. Just wondering if tab rippling is a planned feature? I tried just adding `mdl-js-ripple-effect` to the tabs, evidently there is more to it than that.

react-mdl Tabs demo:
![noripple](https://cloud.githubusercontent.com/assets/6405557/9708826/9d666c0a-54ef-11e5-96e5-6dc836dbd831.gif)

[getmdl.io Tabs demo](http://www.getmdl.io/components/index.html#layout-section/tabs

[2015-09-08 07:24] web2style opened #30 "Active tab border "twitches" instead of appearing smoothly"
Just have run tabs demo and found out this issue. Appears at least in chrome and firefox, didn't test in other browsers. Can you reproduce it?

[2015-09-09 20:01] tleunen commented on #30
What do you mean exactly? Providing an animated gif/video would help I think ;)

[2015-09-09 20:35] web2style commented on #30
Here is the video: https://www.dropbox.com/s/mrmxm64ibr4z7v3/20150909-233330.mkv?dl=0

[2015-09-09 23:07] tleunen commented on #30
Yeah I remember seeing this as well, but it's a upstream issue. On the getmdl website, you can also reproduce it.
They also said the animation was not right and I think they think about changing it to match what the material design describes.

[2015-09-10 05:56] web2style commented on #30
But there's no such issue at MDL website: http://www.getmdl.io/components/index.html#layout-section/tabs

[2015-09-10 12:09] tleunen commented on #30
I do have the same issue on my side, I opened an issue about it on the mdl repo a few weeks ago. They closed it because it was linked to another issue mentioning the animation is not correct.
See this https://github.com/google/material-design-lite/issues/1335

[2015-09-10 15:05] janpieterz opened #31 "Without an onchange handler a textfield throws errors"
Because of https://github.com/tleunen/react-mdl/blob/master/src/Textfield.js#L39 when there is no onchange handler connected to a textfield, it throws an error.

[2015-09-10 15:28] tleunen commented on #31
`onChange` is actually needed, otherwise you can't get the updated value

[2015-09-10 15:35] janpieterz commented on #31
That depends on your setup. For example, using the this.refs you can access the value as well, depending on your setup. This way you don't have to handle every single input's change manually if this is not needed.

https://facebook.github.io/react/docs/more-about-refs.html
https://facebook.github.io/react/docs/working-with-the-browser.html

[2015-09-10 15:49] tleunen commented on #31
The input is currently a controlled input, so the value displayed is always the value specified. That's why there's a onChange event.
If we want to modify that, we would need to make the onChange callback optional and modify the value for `defaultValue`. But I usually prefer playing with controlled component. I'm open to discussions though.

[2015-09-10 16:48] janpieterz commented on #31
Yeah, I have currently changed them to be controlled inputs, using your handy helper to set the state easily. I don't mind either way, I think since React itself allows it it should be allowed as well, but that's just my 10 cents ;)

[2015-09-10 16:59] tleunen commented on #31
Yep but because we use the `value` property on the input, if we don't use the `onChange` callback, React will warn about this ;)

[2015-09-10 17:11] janpieterz commented on #31
Maybe this is just me (relatively new to React), but couldn't we just set the value on the input conditionally, and therefore also the make onChange callback conditional?

[2015-09-13 03:06] darkyen opened #33 "Maybe use a ul for radiogroup ?"
Right now it uses a bunch of labels, just saying shouldn't it be ul ? seperate li's make it much simpler to style.

[2015-09-13 13:17] tleunen commented on #33
The label is there so you can click on the whole thing and check the input.

But I think we could easily do that if the radio button are inside a radio group.

[2015-09-16 09:09] darkyen commented on #33
\o/

[2015-09-17 09:13] Graf009 opened #36 "Fixed error if there are no children in the header"
Here is an example that reproduces the error https://gist.github.com/Graf009/ddef4109d157046ac62a
Solution: https://github.com/tleunen/react-mdl/pull/22

[2015-09-17 09:13] Graf009 commented on #36
https://github.com/tleunen/react-mdl/pull/22

[2015-09-17 12:24] tleunen commented on #36
Damn, I didn't test the right thing :D Ok I keep this one open and will retest this later :)

[2015-09-17 16:13] slybridges opened #37 "Textfield: add props for setting externally checked validity of field"
For now, field errors can only be triggered by the `pattern` props. But `pattern` checks are limited (for instance. we cannot ask a server for field validity).

I found it useful to add an `invalid` props to Textfield that triggers displaying `error` props when it is set to `true`

Would you be willing to accept such PR ?

[2015-09-18 14:05] tleunen commented on #37
Hmm... So we'll have 2 ways of managing the validity of the textfield (either with `pattern` or with `invalid`). Don't know if it's a good idea. Could be misleading if users use both props at the same time :/

I agree with you that server validity is not possible just by using the pattern. Maybe add a `valid` props could be the answer (I prefer using valid instead of invalid ;)). But in that case,

[2015-09-18 15:39] slybridges commented on #37
Maybe can we make the props name a bit more explicit ? Something like `forceInvalid` (or `forceValid`, although in my opinion, a field is valid by default and we want to force displaying errors only if it doesn't fit our business logic).

But it you look as the demo example I added, the password confirmation, this is a very common use case and `pattern` props cannot manage it afaik.

[2015-09-18 20:05] tleunen commented on #37
Actually, by default a field is invalid if the value doesn't match the pattern. (That's weird but it's like that :/)

[2015-09-18 20:11] slybridges commented on #37
Yes but the pattern prop being optional makes it all questionable.
Anyway, happy to take whichever convention you think is best as long as we can introduce this idea of being able to have externally validated fields :-)

[2015-09-18 20:25] tleunen commented on #37
Sure we definitely have to introduce a way to force the state.

We could introduce a feature inside react-mdl now but we will probably need to refactor the code once this is done on the MDL side https://github.com/google/material-design-lite/issues/1136 (context: https://github.com/google/material-design-lite/issues/1132)

At the same time, I was thinking of removing the permanent `error` prop and

[2015-09-18 20:36] slybridges commented on #37
Having only error set is indeed a nice solution !
Let me know should you want a PR or if you feel like doing it yourself. In the latter case, you can close my PR.

[2015-09-18 20:40] tleunen commented on #37
If you're willing to do it, you can do it. Otherwise I'll do it when I've time.
Update your current PR or create a new one is fine. I'll review and test it after that to make sure everything is ok

[2015-09-18 20:41] slybridges commented on #37
I'll take a stab in Monday then. Weekend is weekend :-)

[2015-09-18 20:48] slybridges commented on #37
Oh but then what would be the expected behavior when using pattern prop ? Because when using pattern, we should always set error even if field is valid. Hence it wouldn't be consistent with using error only field, right ?

[2015-09-18 20:52] tleunen commented on #37
Maybe remove pattern?
When the `onChange` callback is called, the developer can check the validity (by using a regex pattern for example) and set the `error` prop if needed.
It's more general that way, could be the solution.

[2015-09-18 21:08] slybridges commented on #37
Removing pattern is a bit of a downgrade / deviation from original mdl library, don't you think ? Take the number textfield example in the demo. It wouldn't look as nice and simple without the pattern.

[2015-09-20 10:11] darkyen opened #39 "[help][suggestions] Transitions ?"
mdl is a micro-library which specifically states that it is not a framework and hence it does not deal with the framework savvy stuff. But `react-mdl` differs to that as it is a binding of mdl into react.

As per md spec, meaningful transitions are extremely important to material design and though for mdl it is out-of-scope to dicuss that, I think we should either have some helpers or atleast a di

[2015-09-21 12:59] tleunen commented on #37
Yeah. maybe..
Maybe we could add a custom prop validator to check that `error` is provided if `pattern` is also provided. Or maybe `error` could be really optional. I have to double check this but error is just the text, right, so even if the pattern is invalid but without the error text, the field should still turn red.

[2015-09-21 15:00] faergeek opened #40 "Custom component for buttons"
It would be great to allow passing needed component as a prop to use something other than `button`.

For example I'd like to have a link that looks like a button and would be cool if `react-mdl` could handle that.
See https://facebook.github.io/react/docs/animation.html#rendering-a-different-component

Also would be cool if it could "guess" what I'm trying to do based on passed props, i.e. if I pa

[2015-09-21 15:13] tleunen commented on #40
I really like the idea. And yes you can submit a PR for that. I'm still quite busy these days :/
Thanks!

[2015-09-21 15:53] Pagebakers opened #41 "Make onChange optional on TextFields"
Right now you are forced to use onChange on all fields.

I would prefer to use valueLink instead and making onChange optional.

`valueLink={this.linkState('name')}`

Any plans to support this?

[2015-09-21 16:00] tleunen commented on #41
What's `valueLink`? Can't you do the same with `onChange`?
[code]
I'm using this on a project and it's working fine.

[2015-09-21 16:06] Pagebakers commented on #41
It's part of the LinkedStateMixin

see https://facebook.github.io/react/docs/two-way-binding-helpers.html

Attaching this to onChange doesn't work unfortunately.

[2015-09-21 16:10] Pagebakers opened #42 "Textfields missing 'is-invalid' when error is set."
Errors are never shown because the `is-invalid` className is not added when an error is set.

[2015-09-21 16:11] tleunen commented on #41
Ok I see, you should already be able to use this.
Any "unknown" props received on the Textfield are passed to the `input` or `textarea` so the valueLink should be properly set as well.

But yes, for now you have to provide an onchange (in this case it can be an empty function). And I agree to set the callback optional.

[2015-09-21 16:13] tleunen commented on #42
For now, the `is-invalid` state is only set when the value doesn't match the provided `pattern`. There's some discussions about the textfield here https://github.com/tleunen/react-mdl/issues/37
We're trying to find the best available solution to resolve this.

[2015-09-21 16:14] tleunen commented on #39
Could you explain or give an example?

[2015-09-21 16:21] Pagebakers commented on #37
+1 for your last comment tleunen.

Right now I run into limitations because I have to to async validation.

[2015-09-21 16:23] Pagebakers commented on #41
Yes good job on the unknown props, that works great.

Although when using valueLink, an onChange handler is not allowed. For now I'll use your way of binding the state.

[2015-09-21 19:32] faergeek opened #44 "What's the preferred quote style?"
From [`eslint-plugin-react` docs](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-quotes.md)

So what's the preferred style?
I'm asking because that rule is deprecated and should be replaced by [native eslint option](http://eslint.org/docs/rules/jsx-quotes).

[2015-09-21 19:45] tleunen commented on #44
I usually use single quotes in JS but double quotes in html (and therefore JSX). Probably need to update the `.eslintrc` file to reflect the change

[2015-09-21 19:48] #44 closed

[2015-09-21 19:52] faergeek commented on #44
No, it's not `double`, try to set `double` explicitly and lint sources.

[2015-09-21 19:52] faergeek commented on #44
I can submit PR for that too :-)

[2015-09-21 19:53] tleunen commented on #44
It's actually `prefer-double` ;)

[2015-09-21 19:54] faergeek commented on #44
In native, yes.

[2015-09-21 19:58] tleunen commented on #44
Do you mean we don't inherit from it because it's not part of the recommended eslint configuration?

[2015-09-21 20:03] faergeek commented on #44
I mean that in `eslint-plugin-react` there was no default value for that option, so I assume that rule didn't ever work.
But for native eslint option there's default value `prefer-double`.

[2015-09-21 21:23] faergeek opened #47 "Some components may not upgrade on remount"
I noticed that some components (in my case tooltips) do not work after remount.

After some investigation I noticed that mdl expects root node of component as an argument, but tooltip returns wrapper around that node.

So I think we should try to upgrade/downgrade DOM node found using something like this:

[code]

[2015-09-21 21:28] tleunen commented on #44
Indeed we never used the rule from `eslint-plugin-react`. I didn't know it existed. Probably it has been added after I integrated it.
About the recommended eslint, we're using it then.

[2015-09-22 05:34] Graf009 commented on #47
I think that it is necessary for all the components through the use of links refs

[2015-09-22 05:55] faergeek commented on #47
It's really needed just for Tooltip, for others `React.findDOMNode(this)` is enough for now.

[2015-09-22 06:31] Graf009 commented on #47
I use the react-modal, and I have problems with the same problems React.findDOMNode (this).

[2015-09-23 23:26] #37 closed

[2015-09-23 23:26] tleunen commented on #42
Fixed by merging #49

[2015-09-23 23:26] #42 closed

[2015-09-23 23:29] tleunen commented on #33
Hmm.. Instead of forcing the use of `ul` and `li`. I'll add 2 more props to the component to set the root container and the container for each radio button. What do you think?
This way, we can keep use whatever we want... ul and li, dl and dt/dd or just div.

[2015-09-24 13:54] #40 closed

[2015-09-24 23:44] #31 closed

[2015-09-24 23:44] #41 closed

[2015-09-25 00:01] tleunen commented on #36
Fixed with #22 :) Thanks @Graf009 and sorry about that, should have been merged a while ago

[2015-09-25 00:01] #36 closed

[2015-09-25 00:14] #27 closed

[2015-09-25 12:10] faergeek opened #51 "Use node in prop validation for Header's title prop"
I'm going to use that area to output some additional controls and see no problem except warning in the console.

[2015-09-25 12:21] faergeek opened #52 "Can you please publish latest changes on npm?"

[2015-09-25 13:36] tleunen commented on #52
Done. `0.13`

[2015-09-25 13:36] #52 closed

[2015-09-25 14:31] tleunen commented on #51
Not sure to understand.
In the title of the header, you're not using a text string, but a dom node? Is that the issue?

[2015-09-25 14:33] faergeek commented on #51
Exactly :+1:

[2015-09-25 14:38] tleunen commented on #51
I think only strings are allowing based on the MDL spec, but we could probably allow node/component as well and assign the `mdl-layout-title` class on it.

[2015-09-25 14:47] faergeek commented on #51
I'm not sure if it matters.
Users can just put some `span` or `strong` tag there or some complicated custom markup and I wouldn't restrict them.
I'm also not sure if `mdl-layout-title` is necessary or not.

[2015-09-25 21:02] CezarLuiz0 opened #54 "How to change colors?"
How can I change the primary color?

Thanks!

[2015-09-25 21:34] CezarLuiz0 opened #55 "LinkState and valueLink bug"
When I use the linkState mixin:

Uncaught Error: Invariant Violation: Cannot provide a valueLink and a value or onChange event. If you want to use value or onChange, you probably don't want to use valueLink.

Any idea?

[2015-09-25 21:49] tleunen commented on #54
If you're using the custom files we provide (which fixes an issue with the Layout component), that's unfortunately not possible for now...
If you don't use the layout component, you can safely use the CSS files provided by the MDL team.

[2015-09-25 21:51] tleunen commented on #55
If you're using `valueLink`, you can't provide `onChange` and `value`. The valueLink does the work for you.

[2015-09-26 13:14] CezarLuiz0 commented on #54
As I thought...

What do you think to build the custom files with sass, less or anyone? Like Twitter Bootstrap http://getbootstrap.com/customize/ but more simple, just primary and accent color.

Can I change manually the colors using, I dont'n know, "cmd+f"?

Thanks!

[2015-09-26 13:17] CezarLuiz0 commented on #55
I'm not using `onChange` or `value`, I'm using `valueLink` and I get the error :/

[2015-09-28 18:54] faergeek commented on #40
I think actually it may be needed in many other places. May be we should write some mixin-link solution for that.

[2015-09-28 19:14] faergeek commented on #54
I guess you can change colors and other variables using sass to compile material-design-lite and `@import` `_layout.scss` from `extra` folder instead of upstream like so (just copy [original](https://github.com/google/material-design-lite/blob/master/src/material-design-lite.scss) and change paths):

[code]

[2015-09-28 21:35] darkyen commented on #39
How about we discuss about it on gitter ? then comment the gist of it her ?

[2015-09-28 21:53] markuso commented on #51
I have the same need where I just need to pass some markup instead of a string to the `title` prop as I need to display two pieces of information, like: "Area / The Title", where I pass `<span><span style={{ color: '#ddd' }}>Area / </span><strong>The Title</strong></span>` as the title. See a real example in the screenshot below.

![screen shot 2015-09-28 at 5 47 54 pm](https://cloud.githubusercon

[2015-09-28 23:08] tleunen commented on #51
`CardTitle` already accepts anything as a child, but in that case it won't use the default `h2.mdl-card__title-text`.

The reason for that is because of the Event card in the demos: https://github.com/tleunen/react-mdl/blob/master/demo/card/card.js#L51-L57

[2015-09-28 23:10] #51 closed

[2015-09-28 23:41] tleunen commented on #47
fixed by #48

[2015-09-28 23:41] #47 closed

[2015-09-28 23:42] tleunen commented on #13
Might be fixed by #48. Please enter a new issue if your problem persists (and which component is problematic if possible)

[2015-09-28 23:42] #13 closed

[2015-09-28 23:45] tleunen opened #57 "add tests"
We should add tests to make sure there are no regressions when changing/adding new code...

[2015-09-29 00:13] #33 closed

[2015-09-29 07:16] faergeek commented on #57
Which stack do you prefer? I'd like to try tape, do you have some experience with it?

[2015-09-29 08:40] slybridges commented on #54
@faergeek Yep, but I think you should add a tilde in front of the module in scss, like so:
[code]
Also the import of `layouts.scss` from `react-mdl` won't work directly because the file contain the following imports with relative paths:
[code]

@tleunen maybe it would be good to change those two lines to:
[code]

So that we can make a direct import without changing that file locally?
[code]

[2015-09-29 11:33] #55 closed

[2015-09-29 11:37] tleunen commented on #57
I don't really have much experiences in this.. Would probably have to check what other React repo do in term of tests and use the same frameworks for that...

[2015-09-29 11:46] faergeek commented on #57
I'd like to help with that. Really want to have tests for this project.

[2015-09-29 12:07] markuso commented on #51
That is fantastic Tommy. Thank you.

[2015-10-04 03:56] bfreis opened #62 "react 0.14.0-rc1, peerDependency issue"
Hi,

I have "react": "0.14.0-rc1" in my project's package.json. When I try to install react-mdl, I get an error because of the peerDependency on react.

    npm ERR! peerinvalid The package react@0.14.0-rc1 does not satisfy its siblings' peerDependencies requirements!
    npm ERR! peerinvalid Peer react-mdl@0.14.0 wants react@0.13.x || ^0.14.0

Thanks

[2015-10-04 09:40] faergeek commented on #62
See #59
If you use npm@3 there should be no problems with it.

[2015-10-04 13:28] #62 closed

[2015-10-04 17:20] bfreis commented on #62
Sergey, thanks for the quick response!

I got it to work now, after upgrading to npm@3.3.6. The error became just a warning now:

    npm WARN EPEERINVALID react-mdl@0.14.0 requires a peer of react@0.13.x || ^0.14.0 but none was installed.

At least it did install react-mdl!

Thanks!
Bruno

[2015-10-04 19:20] peterssonjesper opened #63 "Checkbox doesn't ripple"
The Checkbox component doesn't ripple, compared to the Switch component that takes a ripple property.

[2015-10-05 12:27] #63 closed

[2015-10-05 20:42] darkyen commented on #39
@tleunen  ?

[2015-10-05 20:47] tleunen commented on #39
Sorry I'm quite busy at work these past few days and when back home, I'm not always on the computer either ;) Depending on the timezone, it could be hard to be connected at the same time though.

Do you mind explaining it here, and if it gets complicated, we'll try finding some time to chat about it

[2015-10-05 20:51] darkyen commented on #39
Sure. I think we can make a simple component(s) like which facilate animation squences for material design, or we can simply just make a microlib that does it and make a seperate repo.

https://github.com/lgvalle/Material-Animations

The above animation look pretty declarative to me and with react-animate this should be relatively easy to implement.

[2015-10-05 21:40] markuso opened #65 "Tooltip swallows onClick events on any of its children"
I am running into an issue with the `Tooltip` component in the latest release v0.14.0 where if there is an onClick handler on the child element it gets ignored like the tooltip is preventing propagation or something else.

Consider this sample code where the onClick never fires:

[code]

Could it be the new `MDLComponent` or how the `mdlUpgrade` is upgrading the tooltip which breaks any child even

[2015-10-06 05:51] faergeek commented on #65
It's an upstream issue
https://github.com/google/material-design-lite/issues/1196
https://github.com/google/material-design-lite/issues/1461

React uses event delegation for all events.
As a workaround you can try this out https://www.npmjs.com/package/react-native-listener
Or just use `addEventListener` on mount and `removeEventListener` on unmount manually.

[2015-10-06 05:52] faergeek commented on #65
@tleunen I think we should fix it by binding events internally.

[2015-10-06 06:06] faergeek commented on #65
Also @markuso did it automatically update from `0.13` to `0.14`?

[2015-10-06 07:43] faergeek commented on #65
After some investigation I'm not sure if we can fix it without patching upstream or remove event handler and lose tooltip functionality on mobile (also seems like it doesn't work right on Mobile Safari anyway).

[2015-10-06 12:17] markuso commented on #65
@faergeek No, react-mdl did not automatically upgrade from 0.13 to 0.14 but I needed to upgrade to get some of the latest fixes and changes as I needed them on the project. Also, to actually fix the Tooltip too since it was not functioning at all. Thank you for shedding some more light on this.

[2015-10-06 13:29] tleunen commented on #65
Wow...
Yep the fact they use `event.stopPropagation();` is a bit problematic here... Maybe we can manually bind the click event for the element inside the tooltip?

Once the element is mounted, we manually add the click event (if one was provided), do you think it could work @faergeek ?

[2015-10-06 13:32] faergeek commented on #65
In that case we should walk entire component tree under tooltip or just use event delegation :-)

[2015-10-07 01:15] tleunen commented on #65
Why the entire tree? The main element linked to the tooltip should be enough.

[2015-10-07 08:13] janpieterz opened #66 "Somehow header tabs are not working correctly"
This might not be an error perse with react-mdl, but I'm unsure where else it would lie as off now.

I've got a couple of components, one is a header and the other one is a specific page.
The header component renders the MDL header tabs components. These work well and seem to be initialized ok (since if you don't they look different).

Then the page content has the tab panels in them.

What happen

[2015-10-07 10:23] faergeek commented on #65
And what if there is more than one element inside?

[2015-10-07 10:25] faergeek commented on #66
Could you provide reduced test case for that?

[2015-10-07 13:24] tleunen commented on #66
Probably something related with your code with React-router, but if you can share some code, we might be able to help you :)

[2015-10-07 13:26] tleunen commented on #65
A tooltip can only have 1 single child, and I think the issue is there because MDL add an event on the linked child with the stopPropagation. That's why we should be fine by just manually mapping the event on that linked element.

[2015-10-07 13:29] tleunen commented on #39
Yeah, I think it's better to put that in another repo, and maybe use it inside this one (or keep it separated and let users do the integration).

[2015-10-07 13:34] faergeek commented on #65
Even if we use event delegation, it's more safe to assume that there can be elements inside that single child and we should collect click handlers on them and call them with right `this`.

I started thinking that it's not so good solution as seemed at first.

Now I think it would be better to patch upstream again.

[2015-10-07 13:39] tleunen commented on #65
I don't want to create a patch. The patch file is going to disappear once MDL goes 2.0.

They said in one of the issue you linked it's the normal behavior (for them), and they won't fix it (for now).
I know it would be better to fix it upstream, but it seems there are some reason why they do that.

[2015-10-07 13:44] faergeek commented on #65
The reason is that it accidentally works on mobile (not in iOS Simulator, though) and seems like no one wants to dig into it and try to understand why and how it works :-) I tried myself.

On the other side I don't know why they use JS to just show hint.

[2015-10-07 13:45] janpieterz commented on #66
I'm working on one as we speak!

[2015-10-07 14:38] janpieterz commented on #66
There we go, example repo: https://github.com/janpieterz/Mdl-header-tabs

And I think by creating it all over again I've almost answered my own question, but I'm not a 100% sure. In my official app I use the browser history instead of a hashhistory, but since I serve it off the file system (and browser don't allow histories to be replaced), I use hashhistory, shouldn't make a big difference for th

[2015-10-07 14:44] janpieterz commented on #66
I've been trying, in the example, to get the tabs to be dynamically populated, only way I can see that quickly happening is adding a Flux store like Alt. In case this is handy, anyone an idea to do it simpler?

[2015-10-07 15:16] janpieterz commented on #66
Alright, I think I've found ít, although I'm not sure about a decent solution:
In the real world example, I currently dynamically add a couple of tabs when navigated to a new page. These don't get upgraded (very easy to see).
I then manually delete the data-upgraded from the mdl-layout div. Then running componentHandler.upgradeAllRegistered(); will work.
Obviously this is not the way to go forward

[2015-10-07 15:18] Pagebakers opened #67 "Export utils to make it easier to make custom components"
It would make life much easier if the utils were exported, so you can make custom mdl components.

What's your vision on this?

[2015-10-07 16:05] janpieterz commented on #66
I have it 'working' now, by using a relatively dirty hack provided here:
https://github.com/google/material-design-lite/issues/1165

For future reference:
I edited the material js and exposed the MaterialLayoutTab (since the released version doesn't have it yet), then added in my componentDidUpdate the following code:
[code]

The HeaderTabs of react-mdl needs to be in the DOM already for this to w

[2015-10-07 16:08] faergeek commented on #67
Good idea :+1: .

I think that `mdlUpgrade` and `MDLComponent` should be a public API.

[2015-10-07 19:38] faergeek opened #69 "Update to react 0.14?"
React 0.14 is out today.
I think we should write for it now and leave a note in readme for people still using 0.13.

[2015-10-07 21:02] tleunen commented on #69
Exact! :)
I saw the news today, I'll try to get the time tonight to update the repo with 0.14 et fix all the warnings

[2015-10-08 07:29] darkyen opened #70 "header--seemed ?"
In the material.css there is

[code]

It seems to me in the docs the mdl-layout__header--transparent has been written twice instead of mdl-layout__header-seemed for no shadow ? Maybe Add it I am also mentioning this issue on mdl page

[2015-10-08 11:41] darkyen commented on #39
Makes sense.

[2015-10-08 11:41] #39 closed

[2015-10-08 15:49] faergeek commented on #66
I'm not sure about real issue, but first issue that I see is that tabs' href in `/` route point to elements that do not exist (and console reports `Uncaught TypeError: Cannot read property 'classList' of null`) and in `/items` route they do exist.

[2015-10-08 16:25] janpieterz commented on #66
Yeah, that's what happened when I just insert them hard in the header. Second page it does work, but not correctly, although the fix above makes the dynamic ones working, there's just a manual extra step needed to initialize the tabs if the layout is not rendered again.

Jan-Pieter Zoutewelle

[2015-10-09 00:55] tleunen commented on #70
Seems they updated the `transparent` for `seamed` in this PR: https://github.com/google/material-design-lite/pull/1703

[2015-10-09 00:57] tleunen commented on #67
Why would you want to create MDL components?

Every MDL components should be available in this repo. If something doesn't exists in MDL, you can probably create them using a simple basic React way instead of using the mdlUpgrade function.

[2015-10-09 01:23] #69 closed

[2015-10-09 01:44] #70 closed

[2015-10-09 01:48] tleunen commented on #30
Upstream issue, see https://github.com/google/material-design-lite/issues/954

[2015-10-09 01:48] #30 closed

[2015-10-09 02:12] tleunen commented on #66
Several things here:
- The implementation of the tabs inside the header is not complete. I wanted to reuse the tabs component instead of using hash to show a content, but I did not continue that way and of course I don't remember why...
- The reason why the tabs are not working at first, is because it tries to display the container `scroll-tab-2` (for example), but it's not in the DOM yet when you

[2015-10-09 05:28] faergeek commented on #67
It's good for better customization, though, we can just leave note in readme about that, something like:
"If some feature is missing you can use MDLComponent/mdlUpgrade to temporarily recreate this functionality and don't forget to submit an issue :-)"

And give some example.
For example, I think that it should be possible to set custom tags everywhere.
Or I want to pass some props to some tag/com

[2015-10-09 05:49] faergeek opened #73 "Pass `displayName` to basicClassCreator for easier debugging"
I know that you just upgraded it to use stateless components, but I think it would be better to set `displayName` as it will make debugging much easier for us and everyone else.

We can set `displayName` as a static prop on class or as a name of a function (so babel will set it for us).
But I'm not sure if we can use stateless components and set function name dynamically.

[2015-10-09 06:12] faergeek commented on #73
Actually, I'm already working on PR. We can use stateless components here.

[2015-10-09 13:33] #73 closed

[2015-10-10 13:30] darkyen commented on #70
:D

[2015-10-15 16:44] faergeek opened #76 "Badge empty text case"
If in result of component render we've got empty attribute in DOM now, attribute should not be rendered at all.

So it should not be required too.

[2015-10-15 23:24] #67 closed

[2015-10-15 23:24] #76 closed

[2015-10-16 00:12] nathanmarks commented on #57
@tleunen If you're happy with karma+mocha for testing I can assist in writing tests -- just checking out the lib now to potentially use in a project. If I do use it, I'll be more than happy to contribute tests.

[2015-10-16 00:16] tleunen commented on #57
@nathanmarks sure thanks!
I'm still unsure if karma/mocha is really needed of if we just have to check the output html for each components based on the props we provide.
I don't think we really need to render it in a real browser in this case, because MDL upstream already does this kind of testing to making sure the rendering is correct.

[2015-10-16 00:18] faergeek commented on #57
@tleunen It doesn't make sense to check rendered html and even check parts of a DOM, but we should test if interactions work correctly.

[2015-10-16 00:19] faergeek commented on #57
Not sure if shallow render can help with that. MDL works in a browser environment.

[2015-10-16 00:23] faergeek commented on #57
@nathanmarks Thanks, I think we need some help with tests.
Do you have any experience in writing tests with user interactions?

[2015-10-16 00:42] nathanmarks commented on #57
@faergeek Are you talking about simulating real user interactions? I write quite a bit of scripting for headless browsers at work.

[2015-10-16 06:01] faergeek commented on #57
Yes, react has test utils to simulate events https://facebook.github.io/react/docs/test-utils.html.

But I'm pretty sure that they're simulating events just for react itself and we probably need something like selenium to test the whole thing.

[2015-10-16 08:08] Pagebakers commented on #67
Awesome thanks!

[2015-10-16 12:29] nathanmarks commented on #57
@faergeek I have used selenium a bit and I've got a lot of phantomjs experience.

I think if @tleunen can pitch in and let us know what he sees as in scope for testing here -- we can make a decision on tape/mocha/etc.

I would start by asking ourselves, what is the goal of this package, and what is the best way to confirm that the goal is being reached?

If the goal is to 100% mirror the MDL upstr

[2015-10-16 12:43] faergeek commented on #57
@nathanmarks This project is not the mirror of upstream functionality, it's wrapper around it.

Probably we could try to just check the rendered DOM in different states, but I'm not 100% sure that it will be enough.

About testing framework: I suggest using tape as a testing framework because [TAP](https://testanything.org/) is widely supported standard and we potentially get many integrations for

[2015-10-16 13:34] tleunen commented on #57
I don't think Selenium is needed.
What we just have to make sure is the output of the components based on the props they receive.

Mocha, chai or whatever should be enough.

[2015-10-16 13:39] faergeek commented on #57
Yes, probably we don't need selenium or even phantom for now.

About "mocha, chai or whatever":

Mocha is a test runner and can't work by itself, it has no assertion library, chai is assertion library that works with mocha.

Tape on the other hand is a standalone tool that runs tests and also provides assertion library, but it needs a reporter probably (standard reporter just outputs raw test data

[2015-10-16 13:45] tleunen commented on #57
I'll probably go with Mocha + basic assert (at least for now)

[2015-10-16 13:57] faergeek commented on #57
Ok, I just told about advantages of tape.

If you still wanna to use mocha, let's use it :+1:

[2015-10-16 15:06] nathanmarks commented on #57
I'm happy to contribute tests with either of them (tape or mocha).

Tape is super simple and easy to use.

[2015-10-16 15:43] joshq00 opened #82 "Don't change event handling"
[code]

Then, if I were to switch to use this library,
[code]
it breaks.

It fires twice: once with the value, once with the Event.

I would much prefer to have my event handling all work the same: handle the event, let the handler work out what they find useful.

Please change to not intercept the native events.
Same request for Textfield and others.

Thanks for the library, by the way. It's so m

[2015-10-16 16:51] faergeek commented on #82
Great point.

@tleunen What do you think? Why did you decide to pass value to handler instead of original event?

[2015-10-16 16:53] faergeek commented on #82
Not sure that it's fired twice because of that though, AFAIK comments don't work like this in JSX.
@joshq00 Try removing it instead of commenting.

[2015-10-16 22:16] joshq00 commented on #82
That wasn't actual valid jsx.

What I mean is,
if my code is
[code]

and I click the checkbox, the program will output
[code]

[2015-10-17 01:34] joshq00 commented on #82
Sorry for those repeated commits. Don't know if you expect one-commit merges. Had to do some tweaking tweaking with the demos

[2015-10-17 01:35] joshq00 commented on #82
If accepted, should probably bump a minor version... As these will be breaking changes

[2015-10-17 16:22] tleunen commented on #82
@web2style once made a PR about the same kind of change: https://github.com/tleunen/react-mdl/pull/25. It was accepted and then reverted.

But this one seems to be more consistant. It updates every component with the same behavior.

Initially, the reason why the value was only sent is because usually, that's the only information you care to receive. But I do understand sometimes you want more, or

[2015-10-17 21:00] joshq00 commented on #57
If you'd like to use karma and tape, I've started a branch on [my fork](https://github.com/joshq00/react-mdl/tree/tape/).

If not, I'll wait until you get your testing approach sorted out before writing more tests

[2015-10-17 21:40] tleunen commented on #57
I've started to use mocha + React shallow renderer in this PR https://github.com/tleunen/react-mdl/pull/84

Again, I'm not sure something complexe with browser testing is required in this case because MDL already does this part to be sure everything is rendered properly across browser.

[2015-10-17 22:36] joshq00 opened #86 "Suggestion: gitter channel"
Create a [gitter](https://gitter.im/) channel to discuss roadmap, issues, etc

[2015-10-17 23:09] tleunen commented on #86
A gitter already exists at this url ;) https://gitter.im/tleunen/react-mdl

[2015-10-17 23:09] #86 closed

[2015-10-18 03:35] faergeek commented on #57
@tleunen I think we should at least use `strictEqual` method of assert because `assert.equal` uses `==` instead of `===` which is not cool in many cases, **especially** for tests.

Or just take a look at what @joshq00 did with tape :+1:
I still think that it's more readable and just simpler.
We don't need karma though.

But we definitely need code coverage + some utils for simpler shallow renderin

[2015-10-18 03:41] faergeek commented on #57
@tleunen Take a look at this article about tape https://medium.com/javascript-scene/why-i-use-tape-instead-of-mocha-so-should-you-6aa105d8eaf4

[2015-10-18 07:02] joshq00 opened #89 "Contributing docs"
Add a contributing guideline

[2015-10-18 07:04] joshq00 opened #90 "Contributing: use implicit attr=true"
Want to open discussion on using the implicit attr=true syntax

Example:
[code]

As HTML generally accepts the former, and is much less verbose, I think having the implicit form would be appropriate

[2015-10-18 07:07] faergeek commented on #90
:+1:

[2015-10-18 07:11] joshq00 commented on #90
Another reason I can see this being very useful is, when doing a quick code scan, singling out `true` vs `false` will be much easier.

[code]

If changed, a separate discussion is whether "true" should be the default value for anything. Considering `<Button ripple>` makes it very clear that we are _adding_ functionality rather than `<Button ripple={ false }>` to turn it off

[2015-10-18 14:48] tleunen commented on #57
About `assert`, that's why I started using `expect` instead. It gives more utils and better equals.
About tape vs mocha. Some people prefer the former, some other the latter. I chose the latter for no particular reason except it's widely used. I know tape is also well known.

[2015-10-18 14:57] faergeek commented on #57
Tape is well known, small and predictable, which is important for tests.

I think react and co has popularized unix-way (small tools that each do one task, do it well and can be integrated vs do-anything combines) in frontend and it's good ;-)

I don't know the reason why mocha has no assertion library, but have many rarely needed things, like tons of reporters etc. It's bad separation IMHO.

And

[2015-10-18 14:58] tleunen commented on #90
I agree with removing the boolean values in jsx. I was forcing them in personal projects but the more I use them, the more I want them removed as well.

But yes, it would mean that all booleans should be false by default.
The only one that isn't false is the `ripple` effect, because I think people usually add it since it's part of the MDL so I thought I could save that to users

[2015-10-18 16:07] joshq00 commented on #57
I would actually argue that less assertion functions is better.

When I used mocha and chai, learning the million different asserts was time consuming. Writing tests, I was constantly referencing the docs

Sticking to just a few forces you to simplify what you're testing. I try not to use deep equals or any of those. As much as I can, testing with `.equal` keeps them very clear about what I'm expe

[2015-10-18 21:17] tleunen commented on #90
I did a first step which removes the boolean when it's true. I'll change the default for the ripple later.

[2015-10-18 21:43] #90 closed

[2015-10-19 05:53] faergeek commented on #57
@tleunen What if we at least agree on using **only** simple assertions as @joshq00 said?

[2015-10-19 12:34] VenelinPetkov opened #92 "Feature request - Build Meteor package"
Hi,
I would love to see this project directly intergarted with meteor.

[2015-10-19 13:20] tleunen commented on #57
What's wrong with `expect`? It's easy to use.

[2015-10-19 13:22] faergeek commented on #57
Nothing's wrong.
Let's just agree to not use some assertions like `expect(3).to.be.not.ok` and instead use `expect(!3).to.equal(true)`, for example.

[2015-10-19 13:24] tleunen commented on #57
Not sure to see the point here. I'm using what feels the best to use for every usecase.

[2015-10-19 13:26] faergeek commented on #57
I mean it takes time to search docs for method that "fits" and then search what exactly method does when reading.

I did it before, it annoys. Looks logical only at the first time.

[2015-10-19 13:26] tleunen commented on #92
Never used Meteor, what would be the impact? What need to be done to be integrated with meteor?

[2015-10-19 13:30] joshq00 commented on #57
My question is what is gained when using the long-chained language asserts?
[code]
does not give any added value over
[code]

But it does make it take longer to write the tests.
"Do I use `.that.is.a.number`? or is it `.that.is.a( 'number' )`? I forget... check the docs"

[2015-10-19 13:31] faergeek commented on #57
@joshq00 Exactly :+1:

[2015-10-19 13:37] tleunen commented on #57
It's not that long. Take a look https://github.com/mjackson/expect
And it gives you readability.

[2015-10-19 13:41] faergeek commented on #57
Okay, that version is much better than embedded in chai  :+1:

[2015-10-20 20:38] #82 closed

[2015-10-23 13:05] kretz opened #94 "Does Header really need HeaderRow or HeaderTabs inside?"
I'm trying to implement http://www.getmdl.io/templates/dashboard/index.html with the `react-mdl`module.

All of it except the header part of the drawer is possible to do. The top part of the drawer looks like this;

[code]

If I try to do this with the `<Header>` component, it required one of the children to be a `<HeaderTabs>` or `<HeaderRow>` or it will just wrap it with a `<HeaderRow>`.

I woul

[2015-10-23 13:57] tleunen commented on #94
You can put whatever you want inside the `Drawer` component. So you can add your custom header if you want instead of using the `Header` component. (Which doesn't seem to be the case in this mdl example anyway).

[2015-10-28 22:15] generalleger commented on #92
@VenelinPetkov did you try to import the npm package?

@tleunen usually npm packages integrate pretty easily with Meteor, since Meteor can require npm packages the same way vanilla node projects can.  But, some packages integrate better than others.  Some work without any modification, and others need to be tuned for Meteor's  environment.

The challenges with google mdl and Meteor are described h

[2015-10-31 15:26] tleunen opened #100 "Upgrade to Babel v6"

[2015-10-31 16:38] tleunen commented on #100
There's currently an issue in 6.0.14 about the `class properties` that prevent us to update to v6.

[2015-11-01 16:13] #57 closed

[2015-11-03 19:49] fatbattk opened #103 "Upgrade to MDL v1.0.6"
Would be awesome if project jumps from 1.0.4 to latest.

The last of the 1.0x version released yesterday.
https://github.com/google/material-design-lite/releases

[2015-11-03 19:52] tleunen commented on #100
Once isparta is upgraded, we should be good. (see https://github.com/douglasduteil/isparta/issues/81)

[2015-11-03 19:55] #94 closed

[2015-11-03 19:55] tleunen commented on #92
So is there anything we can do to make it easier maybe? @generalleger

[2015-11-03 19:57] tleunen commented on #65
@faergeek any update? Is it fixed upstream?

[2015-11-03 20:01] generalleger commented on #92
@tleunen Someone with some time just needs to try it and see how easily they integrate and where the issues are.

[2015-11-04 05:15] faergeek commented on #65
It's merged, but I'm not sure that it's released already, need to take a closer look.

[2015-11-04 05:17] faergeek commented on #65
Looks like it should be in `1.0.6`

[2015-11-07 06:51] vmakhaev commented on #52
I open this question again, cause last changes were published almost month ago.
Also FYI, you can make separate commits for version change and add git tags with `npm version` command.

[2015-11-07 06:57] tleunen commented on #52
I know It's been a long time :/
So many changes since last version, I still have a few things I want to finish first.
A new version should land in the next couple of days, alongside with the support of MDL 1.0.6 for the Layout component

[2015-11-07 07:06] vmakhaev commented on #52
Looking forward to have it.

BTW, as I understand 1.0.6 is last version for 1.0 and then mdl will start 1.1 version. I suppose they have some reasons for this, like breaking changes or something. Do this solve react-mdl issue with Layout? Or it will be only in mdl 2.0?

[2015-11-07 07:08] tleunen commented on #52
You're right by saying 1.0.6 "should" be the last version of 1.0.
1.1 will contains a few new components.
But because the layout has to be redesigned, it's a breaking change and this can land only on 2.x :/

[2015-11-07 07:22] vmakhaev commented on #52
Ok, at least we know that some day we'll have it :)

[2015-11-07 12:14] janpieterz opened #105 "Possibly change: Refactor DataTable"
Since the comment from Garbee on https://github.com/google/material-design-lite/issues/1210#issuecomment-149538160 and some troubles with how the table is setup currently I rewrote the DataTable to deliver more flexibility, for example having more interactivity with the checkbox'es, or giving specific widths to a column, I rewrote the DataTable.

I think there are certainly some improvements to ma

[2015-11-07 12:27] janpieterz commented on #103
This shouldn't be too difficult, besides that one fix to layout that is done locally, I think?
I couldn't really find any breaking changes myself in their changelogs, but I might have overlooked it. If there are none given the HTML structure, it's basically upgrading to the new files, making sure the layout fix is applied, running the tests and that's it.

The layout fix, as far as I can see, is o

[2015-11-07 16:55] tleunen commented on #103
Thanks @janpieterz for taking care of this. I was planning to do it today but you can definitely do it if you want ;)

There are no breaking changes in 1.0.6, it's only a patch version with a few fixes so it shouldn't be hard to update. And yes, you point to the right commit change.

There are no tests yet for the Layout component so everything should still work as before.

The problem it fixes is

[2015-11-07 17:01] tleunen commented on #105
Sure! Feel free to open a PR ;-)
But I'm not a big fan of having the end user writing something like this, because of the `<tr>`
[code]

Maybe something like this would be better? `<DataTable headers={headers} cells={cells} />`?

[2015-11-07 17:19] janpieterz commented on #105
Awesome. Will open one up.

I chose to to the tr way, because of a couple of reasons:
1. Now you can't add multiple rows in a thead, which is technically possible
2. I found that just before initiating the datatable i was mapping through my collection to make it confirm to the format of react-mdl, to then ship it off. The cognitive overhead of mapping it to a custom (although simple) structure was

[2015-11-07 18:05] tleunen commented on #105
We could probably support both ways

[2015-11-07 20:02] tleunen commented on #57
I made a few tests with jsdom this morning.. Well, it's a lot faster than Karma, but a few things are not implemented in jsdom (like html5 validity inputs) which prevent some tests to be done :/

[2015-11-08 11:03] janpieterz commented on #103
I'm having some trouble getting the right base to commit this from. Tried to pull a fork of your material-design-lite repository, checking out release, merging upstream remote back into it, but get way too much merge conflicts (all solvable, but it shouldn't be that hard). Merged release branch can be found here: https://github.com/janpieterz/material-design-lite/tree/release

There's a couple of

[2015-11-08 11:10] tleunen commented on #103
I think it would be easier to get the latest version from upstream, and then re-apply the changes on top of it.

[2015-11-08 12:22] #103 closed

[2015-11-08 13:10] janpieterz commented on #105
Been working on this a little bit, get stuck on something weird.

First: even though html supports multiple headers in a table, the mdl library doesn't, it ruins the layout, so I decided not to implement the multiple headers.

Only downside of my current implementation is that we can't have interactivity with the tr's in head and body, for example an onClick handler, but all other elements are at

[2015-11-08 13:18] tleunen commented on #105
It's because `key` is a reserved word in React. You cannot have a prop named `key`.

I looked at your gist, but I'm not sure to see what this way really gives more than the current way. I mean.. yeah.. by providing the component itself, a more customization is possible by the end user, but I'm not sure if it's really useful here

[2015-11-08 13:27] janpieterz commented on #105
What it enabled me to do is have my own custom implementation of the checkbox'es so that I can easily interact with them, enabling things like the attached image.

![image](https://cloud.githubusercontent.com/assets/383634/11020612/b444924c-8624-11e5-9d95-377ad301cd12.png)

[2015-11-08 18:35] tleunen commented on #105
Checkboxes will be deprecated in MDL 1.1 so yep we have to find a way to set this table more customizable :)
Too bad, I liked the way to populate a table using just simple datasets.

I'll think about it. Don't hesitate to continue what you have in mind as well.

[2015-11-08 23:34] tleunen commented on #65
I think it's fixed in 1.1, not in 1.0.6

[2015-11-08 23:46] #66 closed

[2015-11-09 05:19] faergeek commented on #65
Confirming, it's not fixed in 1.0.6

[2015-11-10 03:50] #54 closed

[2015-11-10 03:51] #4 closed

[2015-11-11 00:13] #89 closed

[2015-11-15 13:47] janpieterz opened #116 "New tabs implementation prohibits use of custom link elements."
I'm using React-Router, which provides a Link component (a simply wrapper around a, where they provide functionality to route correctly through the app).

The new header tabs implementation prohibits the use of this since it always forces to have a Tab, which prohibits the use of anything else beside an a.

I'd suggest for Tab using a similar approach to button, where you can provide a component.

[2015-11-15 18:38] tleunen commented on #116
What about changing `Tabs` to allow anything, and wrap the children with `Tab`. Instead of rendering a link, `Tab` will render the child with the custom props.

What do you think?

[2015-11-16 23:47] tleunen commented on #100
done in the [babel6](https://github.com/tleunen/react-mdl/tree/babel6) branch

[2015-11-16 23:59] tleunen commented on #105
hey @janpieterz, sorry for the delay.
I tought about it, and I think we could use both system.

We would have 2 ways of filling the table. The first one, the simple one, would take 2 props (headers and data), like what we currently have. The second one would take the children as data. Headers will stay as props.
That way, we keep the current system so we can ship this feature in v1.x.

The childre

[2015-11-17 11:12] cadesalaberry commented on #2
Forgive my ignorance, but how can you have access to the docs ?

I looked into the docs fork, but the `index.html` file in the **docs** folder leads to nothing...

[2015-11-17 11:36] janpieterz commented on #105
Sounds like a good idea! Will take some time to refactor my current code for this and am very busy this week, but am open to taking this on next week.

[2015-11-17 11:38] janpieterz commented on #116
Good idea, super flexible, but wouldn't this break the just-released version, pushing it over to the next mayor?

[2015-11-17 11:57] tleunen commented on #2
There's aa build step to create everything. I changed ab bit the structure recently and all the docs are now written in markdown. See this https://github.com/tleunen/react-mdl/tree/docs/docs/pages

[2015-11-17 12:01] tleunen commented on #116
I have to merge the babel6 branch in master and it will be a major update as well... I'm surprised nobody complained yet that the available version not compatible with babel 6.

Anyway we could also wrap it only if it's not already a tab ;)

[2015-11-17 13:30] janpieterz commented on #116
Somehow I'm running it with babel 6 locally without a problem, so I'm not sure how that works out. It is actually quite weird because I see you used class properties, which don't seem to work in my own code but they do seem to run in yours. Perhaps because it only uses the compiled version which is compiled with babel < 6?

Ah, that seems to be the best way to go then.

[2015-11-17 14:15] tleunen commented on #116
Yes indeed. I was completely wrong. Babel is only a dependency for building the code, so that's fine. I can easily merge the babel6 branch without updating the version.

[2015-11-17 15:11] skaapgif commented on #2
The new docs have proven helpful already, thanks. There's one mistake, on the cards page cards have the following property: `shadowLevel={0}`, from the source code it seems like `shadow` is the correct property or is this a new api?

[2015-11-17 15:43] tleunen commented on #2
Good point. The new prop is `shadow` yes. It has been renamed in the v1.

[2015-11-18 00:59] #100 closed

[2015-11-19 07:27] darkyen commented on #92
If React works nice with meteor so this https://github.com/reactjs/react-meteor should be helpful, As mentioned in the project itself React is agnostic of the way you fetch data from the server and meteor can be easily dropped in for that part.

[2015-11-19 10:55] cadesalaberry commented on #2
Thanks @tleunen ! Much appreciated.

Wouldn't it make sense now to move everything to the github wiki of this repo, and get rid of the **docs** fork ?

[2015-11-19 12:53] tleunen commented on #2
It will be deployed

[2015-11-19 12:56] tleunen commented on #2
It will be deployed on the github page to create the React MDL documentation website. It should be done over the weekend now ;)

[2015-11-19 13:24] generalleger commented on #92
@darkyen Meteor has built in support for React without using that package.  You can simply do `meteor add react`

[2015-11-19 16:34] darkyen commented on #92
@generalleger I think that is the official package that meteor installs when you do meteor add react (since its by react team)

[2015-11-19 20:40] generalleger commented on #92
@darkyen I think this is what they add...  https://github.com/meteor/react-packages

[2015-11-20 14:16] darkyen commented on #92
even better :D from meteor team +1

[2015-11-20 16:50] tleunen commented on #92
Meteor supports React (see http://react-in-meteor.readthedocs.org/en/latest/) so this shouldn't be an issue anymore.

[2015-11-20 16:50] #92 closed

[2015-11-24 17:40] treeder opened #130 "Issue with Textfield"
I get these errors in my console when using <Textfield>

[code]

Any ideas?

[2015-11-24 18:00] tleunen commented on #130
It's usually because the import path is incorrect and that the "Textfield" you're using is actually undefined.

[2015-11-25 01:29] tleunen commented on #2
Here it is, in its first version :) http://tleunen.github.io/react-mdl/

[2015-11-25 01:29] #2 closed

[2015-11-26 06:58] ChitaGideon opened #131 "bad guide for running a demo"
The latest code do not provide a demo

and the doc `npm run demo` is outdate

[2015-11-26 12:56] tleunen commented on #131
Oh I forgot to remove this section from the readme.
Now that we have a website with examples, demos don't exist outside of this website.

Later, we'll add links to "export" the examples inside codepen.

[2015-11-26 12:57] #131 closed

[2015-12-01 12:01] Pajn opened #138 "The scss file imports missing files"
It would be nice if the scss file instead imported from the mdl module so that it could reused.

[2015-12-01 15:33] tleunen commented on #138
Do you mean the 2 imports inside the `_layout.scss` file in our extra directory?

[2015-12-01 15:35] tleunen commented on #130
Do you still have the issue @treeder ?

[2015-12-01 16:39] treeder commented on #130
Yes, just tried it again, this is my import:

[code]

This is the render:

[code]

[2015-12-01 16:40] tleunen commented on #130
The right import should be `import Textfield from 'react-mdl/lib/Textfield';` when importing the Textfield directly

[2015-12-01 17:30] treeder commented on #130
Nice, that works, thanks!

Another quick question, notice it doesn't support name or ref, what's the best way to get all the values on submit?

ie: these, don't do anything:

[code]

but they do on regular <input/> fields.

[2015-12-01 17:33] tleunen commented on #130
What I usually do is keeping track of everychange in the state/store and get those values when hitting form onSubmit.
Keeping track of changes in real time allows me to quickly display an error

[2015-12-01 17:51] treeder commented on #130
Do you have a separate onchange handler for every field then?

[2015-12-01 17:59] tleunen commented on #130
Yep, with a little helper you can usually do that without too much code.
`value={this.state.myInput} onChange={saveInState(this, 'myInput')}`

[2015-12-01 21:23] Pajn commented on #138
Exactly, would be great if they instead were
[code]
so one could import the file directly instead of copying it and changing those two imports.

[2015-12-03 12:22] Graf009 commented on #105
Please tell me, I use mdl-data-table - selectable, how do I subscribe to change events checkbox?

[2015-12-03 22:08] brysgo opened #140 "Question: Can we port the templates?"
I think it would be good to provide ported versions of the material design light templates that are provided so people can see what a fully integrated layout might look like with react-mdl.

I'd be happy to take a crack at it.

[2015-12-03 22:09] tleunen commented on #140
Yep, it's definitely something I'd like to see on the website as well! :)

[2015-12-04 15:23] #130 closed

[2015-12-04 15:24] tleunen commented on #105
Currently, the only way is to bind the event on the checkboxes manually :/
If I were you, I won't use the selectable prop on the table because it will be removed in a future version of MDL, so by starting to manage it yourself it will be a lot easier :)

[2015-12-04 20:38] treeder opened #142 "How to make footer not stay on screen in mobile view?"
The footer stays on the screen no matter what taking most of the real estate. Is there a way to keep it at the bottom?

[2015-12-05 11:14] trungtin opened #143 "Why "mdl-layout__inner-container"?"
I have read your issue here https://github.com/google/material-design-lite/issues/1356. The problem is automatic created `mdl-layout__container`, right? But then you replace it with `mdl-layout__inner-container`, so when using React-router inside Nav, React still throw those "mutated element" errors. The question is why we need it in the first place, in my usecase I just remove the function create

[2015-12-09 01:05] tleunen commented on #143
Hi @trungtin and sorry for the delay of this response.

The goal of the `inner-container` was to resolve this issue https://github.com/tleunen/react-mdl/issues/4.
Basically, the idea behind was to always have a known element as the root of the component. After that, the component could dynamically create inner element if it wants.
For my last tests, and based on what was done for the website (whic

[2015-12-09 01:13] tleunen commented on #142
Thanks for reporting the issue @treeder. I checked and it's indeed an issue with our custom implementation of the layout

[2015-12-09 01:19] tleunen commented on #142
Or maybe not. Where do you put the footer?
Because maybe you did the same mistake as I did. The footer should be inside `Content`, and not outside.

I know it's weird, but that's how the MDL team did it :/ Maybe they'll change that later with the refactoring of the layout in v2.

Can you confirm it's ok when putting the footer inside the content?

[2015-12-10 08:12] songzijun opened #145 "any way to customise color?"
thanks for creating react components for mdl. I am interested in using it. But I cannot see a way to customise color. As the cdn version of mdl can specify different color. Is it possible to make the css to work with different color like blur?

[2015-12-10 08:16] #145 closed

[2015-12-10 14:32] tleunen commented on #145
Unfortunately if you're using our custom css to fix an issue with the layout, it's not possible to customize the color. I'm trying to find a better solution to this

[2015-12-10 14:59] tleunen commented on #105
hey @janpieterz, still working on this?

[2015-12-10 22:33] songzijun commented on #145
thanks!

[2015-12-11 07:38] janpieterz commented on #105
I've let it sit for a little while, got massively busy with a project. Realistically I don't think I'll have time until January, and possibly even later.
My current progress is here:
https://github.com/janpieterz/react-mdl/tree/datatable-refac

[2015-12-13 05:05] skeskinen opened #148 "Add documentation on how to compile your own stylesheets."
I think there should be short section in readme that describes the setup you need to compile mdl scss files and how to change the primary/accent colors.

This should be really easy way of making the library more useful for newcomers and save them some time. There might be some better long term solution but the setup is quite simple so I think this would be good enough for now?

Something like this

[2015-12-13 21:18] tleunen commented on #148
Hmm indeed I think it would be nice to describe the process in the readme. I'm also wondering if it could be possible to use the MDL css and apply a monkey patch on top of it to fix the layout. It might a lot easier for users that way.

[2015-12-14 23:43] vmagro commented on #148
I'm also interested in this. It would also be nice for those of us that import all our css with webpack and not have to add another `link` for the mdl stylesheet

[2015-12-15 05:11] andrepew opened #152 "Textfield does not always clear is-invalid when error is set to null or undefined."
Issue exhibited here:

http://jsfiddle.net/jq0Lzgwn/

Click the error link to set an error on the Textfield and then click submit which will try to set error back to null. It succeeds in blanking out the error text but the Textfield still has the is-invalid class.

[2015-12-15 05:17] thomasantony opened #153 "Uncaught TypeError: Cannot read property 'upgradeElement' of undefined"
I have been running a very bare-bones setup with code from the main documentation source (without react-route). I am getting this error in Chrome every single time I run it.

    Uncaught TypeError: Cannot read property 'upgradeElement' of undefined
      componentDidMount @ MDLComponent.js:31
      assign.notifyAll @ CallbackQueue.js:65
      ON_DOM_READY_QUEUEING.close @ ReactReconcileTransactio

[2015-12-15 05:21] thomasantony commented on #153
Nevermind. I wasn't including the material.js file assuming that webpack would take care of it.

[2015-12-15 05:21] #153 closed

[2015-12-15 07:36] thomasantony commented on #148
Is there any way at present to dynamically specify the color options from React code?

[2015-12-15 14:15] tleunen commented on #152
hey @slybridges, because you made the initial code to force the invalid state in react-mdl, you might know why the classname is not reset.
In the example from @andrepew, it seems MDL doesn't remove the `is-invalid` classname when rendering the textfield. Do you know if they changed something in a recent release?

[2015-12-15 14:16] tleunen commented on #148
Nop, there's no way to setup the color from the react component. It's better to setup your styles and then use the component without knowing the color.

[2015-12-15 14:17] #142 closed

[2015-12-15 14:18] #143 closed

[2015-12-15 18:06] slybridges commented on #152
Hi @tleunen @andrepew - let me have a look

[2015-12-16 09:27] slybridges commented on #152
@andrepew was on the right track, this is because `react-mdl`doesn't check for the new validity of a field when error changes.
However I think, we can have a slightly better fix than the one suggested in #151. I'll submit a PR.

[2015-12-16 09:46] andrepew commented on #152
IMHO mdl's built-in behaviour of automatically clearing the error on user input is wrong in the context of react.

It allows for a situation where what the component is displaying is inconsistent with the react property that is set. In the example I gave, this.state.error is still contains 'oops' after the user inputs something. If a developer wants the error to clear on user input, they should ha

[2015-12-16 10:07] andrepew opened #157 "Textfield should not automatically clear errors set in this.props.error on user input"
IMHO mdl's built-in behaviour of automatically clearing the error on user input is wrong in the context of react.

It allows for a situation where what the component is displaying is inconsistent with the react property that is set. In the example jsfiddle I gave in #152 , this.state.error is still contains 'oops' after the user inputs something. If a developer wants the error to clear on user inp

[2015-12-16 10:17] slybridges commented on #157
MDL says they're not aiming at supporting dynamic websites (such as those created with React) at the moment. Hence they won't implement solutions using setState and the likes. However I think `react-mdl` plays nicely around those limitations.

I'm using `react-mdl` along with `redux-form` which has some nice helpers to validate the data and display error messages dynamically as you're typing.

Exa

[2015-12-16 13:01] #152 closed

[2015-12-16 13:03] tleunen commented on #157
Seems like the expected behavior to me. If the error contains something, it's normal the textfield is still in an invalid state.

[2015-12-16 13:03] #157 closed

[2015-12-16 14:36] morlay opened #158 "Add partial dependences in each component"
Just created a CommonJS version https://github.com/morlay/material-design-lite-cjs
which will automatic transform origin material-design-lite

[code]

* For user who want to partial import, this will be more easier.
* And for some hot fix in React, will be easy to use a partial file to replace in this project.

Hope this is helpful.

[2015-12-16 14:44] tleunen commented on #158
Very interesting. Indeed, it's great if you only use a specific component!
But currently, because of the "small" change we have to make on the layout component, using this would be complicated.

What does it mean?

[2015-12-16 15:35] morlay commented on #158
https://github.com/morlay/material-design-lite-cjs/blob/master/index.js

[code]
in my build, i only process these files,
and in origin one, they have this file https://github.com/google/material-design-lite/blob/master/src/third_party/rAF.js as polyfill.

by the way, in server render,
have to add the dirty code. :-(
[code]

[2015-12-17 03:50] morlay commented on #158
Seems componentHandler is not necessary. Life cycle in React can replace it.
And we could make the export effects as component too.

How do you think this way？

[code]

[code]
[code]

[code]

[2015-12-17 13:30] slybridges opened #159 "Tabs: Improvement Suggestions"
:wave: @tleunen

I am working with some Tabs at the moment and would like to suggest 2 improvement suggestions.
Happy to make PR(s) if you agree with these.

#### 1/ Allow to style `TabBar`
I would prefer my Tabs to be aligned to the left (vs center by default with `mdl`).
Hence i would need to be able pass some styles to `TabBar` from the `Tabs` component (`justifyCenter: 'left'` in my case)
Are

[2015-12-17 14:06] tleunen commented on #159
Hmm it's a tricky question. Because we can't really use the style/props from Tabs for TabBar because if we do so, we won't have any way to customize the `mdl-tabs` element.
What about a `tabBarProps` so the end users can easily send whatever he wants?

+1 for the updated PropType to allow a single element.

[2015-12-17 14:08] tleunen commented on #158
I think it's a lot easier to use a `ripple` prop than having a component for that.
The component will not add any value.

[2015-12-17 14:08] slybridges commented on #159
`tabBarProps`:+1:, much better
I'll get to it.

[2015-12-17 14:18] slybridges commented on #159
For the record, if anybody wants to align tabs to the left instead of center, they should add the following prop to Tabs:
[code]

[2015-12-17 14:36] morlay commented on #158
Just want to split the dependences.

Keep the props `ripple`, we still could did this.
[code]
( After for maintenance works in some big company, I really fear the global dependences, sorry for this :-)

[code]
Then could let user to composed, and let user could make custom effect as a pure wrapper.

In real project. we usually make some common component instead configure everywhere. so I think thi

[2015-12-17 14:43] tleunen commented on #158
I understand the need of getting the dependencies instead of using the global MDL. Trust me, I would definitely prefer having a commonjs module that I could use for that :)
And I really like what you did with your package. But for now because of our custom "layout", we cannot use it.

[2015-12-17 15:05] morlay commented on #158
Sorry, I haven't got this point.
In commonjs may be easier to overwrite the official MDL.

[code]

[code]

[2015-12-17 15:10] tleunen commented on #158
Indeed...
I'll be quite busy during the christmas holidays but I'll try to make something based on your commonjs lib :)

[2015-12-17 15:13] morlay commented on #148
configure `node_modules/react-mdl` and `node_modules/material-design-lite/src` in to sass's `includePaths[]`

that means
[code]
[code]
dirty but works.

[2015-12-17 15:18] morlay commented on #158
Marry Christmas. ~
And once official provide the UMD version in 2.0, my package could delete.

[2015-12-17 15:24] #159 closed

[2015-12-18 06:25] gowram opened #163 "is there any way to use html5 form type with validation"
I would like to know how do we pass html5 input types like color, email, url etc.,

[2015-12-18 14:26] tleunen commented on #163
I'm not sure MDL has a specific spec for a color input, but you can pass a `type` prop with the type you want.
See this as en example http://codepen.io/anon/pen/zrqROo?editors=001

[2015-12-18 14:26] #163 closed

[2015-12-20 13:51] tleunen opened #165 "DataTable - Cannot display html inside cells"
It's currently impossible to display html inside a cell.

[2015-12-23 12:44] QuantumInformation opened #166 "React is not defined at http://tleunen.github.io/react-mdl/"
There is an error with the doc pages: http://tleunen.github.io/react-mdl/

[2015-12-23 13:17] tleunen commented on #166
Could you explain? I don't see any errors.

[2015-12-23 13:37] QuantumInformation commented on #166
sure, all I see is:

![image](https://cloud.githubusercontent.com/assets/216566/11977392/3f51bc70-a97a-11e5-9bc4-2880e8d855ce.png)

[2015-12-23 13:39] QuantumInformation commented on #166
Closing as facebook.com is blocked, I will try again when its not blocked.

[2015-12-23 14:12] tleunen commented on #166
Indeed, if fb.me is blocked, the script won't load. I'll update the link to use another cdn instead.
I'm reopening the ticket as a reminder.

[2016-01-06 12:58] Gregoor opened #180 "Radio not working in Chrome"
Neither in the docs (http://tleunen.github.io/react-mdl/#/toggles) nor does it work for me locally. Tested in Chrome, without extensions.

Strangely enough it seems to work in FF and Edge.

[2016-01-06 14:22] tleunen commented on #180
Good catch. This is because of the empty `onChange` callback.
Either you have to get the changed value and apply it on the radio, or you can get the value with another way (using ref for example) and in that case you don't need the callback.
I'll fix the doc.

[2016-01-06 14:32] Gregoor commented on #180
Thanks for getting back to me so quickly (also big thanks for the library, my HTML looks so much better without all those mdl-classes :) ).

I noticed that the change is happening in the underlying input elements, the MDL classes are just not updated. If that's also what you're talking about would I then have to fix the MDL classes when changes happen?

[2016-01-06 14:37] tleunen commented on #180
the mdl class `is-checked` should be updated even if you don't specify the change callback. But it will result in the small warning explained in this PR https://github.com/tleunen/react-mdl/pull/181

[2016-01-06 15:43] jpklzm commented on #145
Any updates about this case?

[2016-01-06 15:53] tleunen commented on #145
Not that I'm aware of.. But some people got something in this thread https://github.com/tleunen/react-mdl/issues/148

[2016-01-08 11:43] ciccia commented on #138
+1

[2016-01-08 17:50] kretz opened #189 "Support starting and stopping the Spinner"
The Spinner has start() and stop() methods in Material Design Lite, which in turn control the 'is-active' class on it.

In react-mdl the class `is-active` is on by default and cannot be changed.

I propose a feature to be able to control the spinner with a property, e.g. `isActive` or `active`.

Thanks,
Martin

[2016-01-13 09:30] #166 closed

[2016-01-13 14:36] FoxxMD commented on #105
+1 datatables with solid onchange events and cell customization (using components in cells) is essential for my projects

[2016-01-15 16:53] AugustinLF opened #193 "Server-side rendering cannot find componentHandler"
I have a test set up using JSDOM and react-addons-test-utils (similar to the one used by [react-redux](https://github.com/rackt/react-redux/blob/master/test/setup.js)). However, the tests break because I cannot render any react-mdl component. Do you know how to make it work? I've seen #158, but I don't think that can solve my problem!

[2016-01-15 17:24] tleunen commented on #193
Do you include the material.js file before running your tests?

[2016-01-16 13:38] tleunen commented on #105
@FoxxMD about onchange event, I suggest you to do it yourself, adds a Checkbox in the cell instead of using the selectable property. I'll deprecate it soon since it's deprecated in MDL. About using components in cells, it's already possible.

Here's an example with an image:
[code]

@janpieterz The more I think about it and the more I find the current implementation acceptable. We might add a few

[2016-01-16 17:44] tleunen commented on #165
Not a bug.. Was adding the html as a string instead of an element

[2016-01-16 17:44] #165 closed

[2016-01-16 22:15] tleunen commented on #189
@kretz I remember now why I didn't implement it this way in react-mdl. This is because, when the spinner is stopped, it gets invisible. Therefore, in React, you can easily remove it from your render function when you don't want it.

[2016-01-16 22:15] #189 closed

[2016-01-17 08:46] kretz commented on #189
Right, that is how I do it today.

BUT what I also found was that if this spinner is taller than the other
elements in a parent element, then the height of the parent element changes
on removal, but not on hiding.

So, I still think there is a case for start and stop. Are you open for a
pull request with this functionality?

On Sat, Jan 16, 2016, 23:15 Tommy <notifications@github.com> wrote:

[2016-01-17 08:55] tleunen commented on #189
Hmm.. Indeed. But usually, a spinner/loader is often put in absolute position in the center of the page, or inside a button after a user interaction. It's rarely always in the page waiting for a loading.

I understand your case though, and of course you can open a PR with the functionality. The active state should be enabled by default though.

[2016-01-17 09:01] #180 closed

[2016-01-17 09:09] tleunen commented on #105
I pushed a new version of the datatable, and put an example with checkboxes on the website. Feel free to take look at it.

I'm closing this issue. I'm not sure a refactoring is needed to add features to it. Please reopen a new issue if you think more feature could be added.

[2016-01-18 09:47] AugustinLF commented on #193
Yes I did a `require('react-mdl/extra/material');`. Then, I get a `Element is not defined` at line 187 of material.js `if (!(typeof element === 'object' && element instanceof Element)) {`.

I get that this does not seem to be a react-mdl problem, but more a problem to render any mdl Element in a JSDOM context, where Element is not a global.

I solved that by adding a `global.Element = global.windo

[2016-01-18 09:47] #193 closed

[2016-01-18 09:53] tleunen commented on #193
Good thing a simple fix was found to make it work with jsdom :)

[2016-01-18 15:03] FoxxMD commented on #105
@tleunen Thanks for the example! Interesting..

So if I wanted to use custom components I would do something like this?

[code]

At first glance I can't see any downsides but I wonder how this approach would compare to the way [react-bootstrap-table](https://allenfang.github.io/react-bootstrap-table/example.html#column-format) and [griddle](https://griddlegriddle.github.io/Griddle/customization.ht

[2016-01-18 15:11] tleunen commented on #105
Yep, the example looks ok.
I also like the `dataFormat` function... This is something we could easily add in the `column` structure.

[2016-01-19 12:13] tleunen commented on #105
Ok I'm reopening the issue.. Indeed I think a refactoring using something similar to what we can find in react-bootstrap-table and fixed-data-table would be a good idea.

Feel free to work on something and open a PR if you want or come to discord to discuss about it :) I'm busy with some other things right now so I don't know when I'll be able to work on that.

[2016-01-19 14:27] FoxxMD commented on #105
The more I look at it the more I like the way it is done now actually. Since react-mdl allows custom components the only real difference between the way react-mdl does it and then way react-bootstrap-table does it is cosmetic (in that you have to use `dataFormat` to insert a component vs. mapping your data to the component and passing it to `DataTable`)

I think the only refactoring really needed

[2016-01-19 14:30] tleunen commented on #105
yeah about that, I was thinking about adding back the selectable prop and handle the checkboxes like it is in the example.

I'll think more about it...

[2016-01-26 14:53] odewahn opened #195 "Feauture Request: File input button"
First off, thanks for this great project.  It really makes MDL super fun to use!

One request: could you add a file upload / select option?

Thanks!

[2016-01-26 15:15] tleunen commented on #195
Thanks @odewahn. But this is just a wrapper for MDL. So any feature requests should be on the MDL upstream repository https://github.com/google/material-design-lite
I found this issue mentioning it, but nothing ready yet https://github.com/google/material-design-lite/issues/1031

[2016-01-26 15:15] #195 closed

[2016-01-28 18:32] michaelguild13 opened #196 "Add in Sass loading for better file structure"
https://christianalfoni.github.io/react-webpack-cookbook/Loading-LESS-or-SASS.html

EX: https://github.com/erikras/react-redux-universal-hot-example/tree/master/src/components/InfoBar

I would fork and do it myself but I am already doing it on a private repo for a client.
This is more of a suggestion for future builds

[2016-01-30 16:14] tleunen commented on #196
How do you see this with the current MDL dependency? It would be very hard to do so.

[2016-01-30 18:34] aaugustin opened #197 "Textfield that replaces another Textfield doesn't render properly"
I encontered an issue when rendering a component that dynamically decides which fields are visible.

Here's a small example that exhibits the issue. It's a form with two fields, only one of which is visible at a given time. To keep things simple, I put a switch to select which field is visible. In my actual use case, this depends on the values of previous fields.

[code]

Initially the first field

[2016-01-30 18:49] aaugustin commented on #197
Giving the two fields different keys i.e. `<Textfield key="first/second" ... />` makes the problem go away. This suggests that the issue arises when React [reconciles the two Textfields](https://facebook.github.io/react/docs/reconciliation.html#custom-components).

It may have something to do with the fact that `MDLComponent` implements `componentDidMount` / `componentWillUnmont` but not `componen

[2016-01-30 19:15] tleunen commented on #197
Indeed, `Textfield` might have an issue with the internal state. But the doc you mentioned specifically says to specify a key to let React know the element is different (which is the case in your example).

[2016-01-30 19:45] aaugustin opened #198 "Add support for valueLink"
It would be pretty cool if:

    <Textfield valueLink={valueLink} />

behaved like:

    <input type="text" valueLink={valueLink} />

Currently, this almost works because a `valueLink` is passed unchanged to the underlying `<input>`, like `value` and `onChange`.

However the `componentDidUpdate` method of `Textfield` uses `this.props.value` directly and thus doesn't update the widget correctly cha

[2016-01-30 19:58] aaugustin commented on #197
Yes, I couldn't find a convincing way to handle this in Textfield. Perhaps it's best to treat this as a known limitation and to document the workaround. My use case may not be very common.

[2016-01-30 20:05] aaugustin commented on #197
For my own use I have a wrapper that sets `key={props.name}` but I don't think this solution can be generalized because:

- not everyone will set unique names on fields because they aren't necessary if the form submission is handled in JavaScript based on the React state
- it's likely to have unintended consequences; it may do more harm than good

[2016-01-31 04:54] tleunen commented on #198
Hmm.. This is based on a mixin, which is deprecated. So I don't think I'll spend the time to support it. (https://github.com/facebook/react/issues/2302)

If you specify a valueLink, you don't specify a value. So I'm not sure to see the problem in `componentDidUpdate`.

[2016-01-31 05:01] tleunen commented on #197
I'll keep the ticket open to investigate on this.

But for your usecase, please use a key prop. Not everyone will swap textfield based on a condition, so for most usecases, it behaves correctly.

I ported your example in a codepen to better visualize the issue: http://codepen.io/anon/pen/EPRLww

[2016-01-31 08:23] aaugustin commented on #198
Ah, sorry, while the documentation states that `LinkState` mixin is deprecated (like all other mixins), it wasn't it wasn't clear to me what `valueLink` was also deprecated.

I looked at [the code](https://github.com/facebook/react/blob/fdd7fabd129b573fc142df6883398c1ecf0561b0/src/renderers/dom/client/wrappers/ReactDOMInput.js#L93) and indeed it is.

[2016-01-31 08:23] #198 closed

[2016-01-31 08:36] aaugustin commented on #198
(For completeness, the problem in `componentDidUpdate` is that, when `this.props.valueLink.value !== prevProps.value`, the block that deals with value changes isn't executed because `this.props.value !== prevProps.value` evaluates to `false` -- both are `undefined`.)

[2016-01-31 16:47] tleunen commented on #198
But the condition is there only when the field is updated programmatically (not when the user write directly inside)... I'm not sure to see how this could be related to `valueLink`.

[2016-01-31 18:21] aaugustin commented on #198
I noticed this because I was updating the value programatically — not a typical use case, obviously — and passing it through the `valueLink`.

[2016-01-31 18:43] tleunen commented on #198
Oh ok, it makes sense now ;)

[2016-02-01 17:42] tleunen opened #199 "Add Snackbar component"
With the MDL 1.1 release, a new snackbar component is available: https://getmdl.io/components/index.html#snackbar-section

[2016-02-01 17:43] tleunen opened #200 "Add Dialog component"
With the MDL 1.1 release, a new dialog component is available: https://getmdl.io/components/index.html#dialog-section

[2016-02-01 17:43] tleunen opened #201 "Add List component"
With the MDL 1.1 release, a new list component is available: https://getmdl.io/components/index.html#lists-section

[2016-02-01 17:44] tleunen opened #202 "Update the current components for MDL 1.1"
New changes and fixes are coming with the release of MDL 1.1. We should also apply them in React-MDL.

See https://github.com/google/material-design-lite/releases/tag/v1.1.0

[2016-02-06 07:51] Permagate commented on #200
I'd like to try tackling this, if you haven't already. I need this component at the moment, so I might as well.

[2016-02-06 13:09] tleunen commented on #200
Go ahead! :)

[2016-02-06 18:32] #138 closed

[2016-02-06 18:32] #140 closed

[2016-02-06 18:34] tleunen commented on #148
Don't hesitate to submit a PR to add the `how to` in the readme.
I also added the complete list of styles in the repo in [/extra/css](https://github.com/tleunen/react-mdl/tree/master/extra/css)

[2016-02-06 18:34] #148 closed

[2016-02-06 18:37] tleunen commented on #196
Once the MDL lib is completely modular (for both JS and css), this is something we'll implement. Until then, it's not something we can really do.

[2016-02-06 18:37] #196 closed

[2016-02-06 19:34] tleunen commented on #202
I've integrated all small changes from the release notes, except these 2:

I'm definitely not sure the bleed divider modifier is a good idea (see https://github.com/google/material-design-lite/issues/4083)
And for the datatable, it's not useful without a better component to automatically handle sorting.

So closing this issue now.

[2016-02-06 19:34] #202 closed

[2016-02-09 13:23] tleunen commented on #158
hey @morlay, sorry for the huge delay :/
Could you submit a PR with a component as en example? I think it will allow me to better see and understand the changes and how it will improve the code.

[2016-02-09 13:54] vurt007 opened #210 "Tooltip clone element breaks event listeners"
Hi
pretty new to react..
I've been trying to use the Tooltip to wrap an IconButton

`
function blah(){ alert('clicked');}
render() { return (
<Tooltip label="download"><IconButton name="download" onClick={blah} /></Tooltip>
)}`

What I've found is that when wrapped in a tooltip the onClick event no longer fires, when wrapped in the tooltip

[2016-02-09 14:32] tleunen commented on #210
Yes, this is related to https://github.com/tleunen/react-mdl/issues/65
Because of mobile, the click event is used to display the tooltip :s
There's nothing we can do for now to fix this.

@faergeek Do you think it would be better to refactor the tooltip by using our own custom implementation instead? But we won't support mobile I guess :/

[2016-02-09 16:35] faergeek commented on #210
@tleunen I'm pretty sure that it's already fixed in mdl 1.1.0, so it's already fixed in master here.
@vurt007 Could you try to install this package from master branch and test?

[2016-02-09 16:35] tleunen commented on #210
Great news if it's fixed in 1.1.x.. I'll make some test tonight :)

[2016-02-09 21:43] michaelguild13 commented on #65
Here is an example for a simple fix for the onclick with mdl and react
https://jsfiddle.net/7k3upx7c/13/

[2016-02-09 23:41] adamveld12 opened #211 "Tooltip positioning"
Here on the [mdl docs](http://www.getmdl.io/components/index.html#tooltips-section) for tooltips, near the bottom they mention 4 different classes that can be applied to a tooltip that allow you to define its open position. For everyone's convenience:

MDL class	| Effect	| Remarks
--------------------|------------|--------------
mdl-tooltip--left	  |      Positions the tooltip to the left of the t

[2016-02-09 23:54] #200 closed

[2016-02-10 00:59] tleunen commented on #65
The problem is that it would required to be put inside every "clickable" component :/

[2016-02-10 02:35] tleunen commented on #210
Confirmed it's fixed in MDL 1.1.x, so it will be fixed in react-mdl 1.4.0. Closing it.
Good job on your fix @faergeek https://github.com/google/material-design-lite/commit/0e65b743a0d60cd186cb941c3f46361527fe376c

[2016-02-10 02:35] #210 closed

[2016-02-10 02:37] tleunen commented on #65
The issue is already fixed upstream in 1.1.x. So it will be included in react-mdl 1.4.0.

[2016-02-10 02:37] #65 closed

[2016-02-10 08:00] vurt007 commented on #210
great, thanks ... I'll update

[2016-02-10 08:18] faergeek commented on #210
@tleunen Thanks :-)

[2016-02-10 16:19] darenju commented on #201
I have started working on that. Should I create my PR?

[2016-02-10 17:07] tleunen commented on #201
Yep you can create a PR and I'll review it :)
Thanks a lot!

[2016-02-11 01:22] tleunen commented on #116
hey @janpieterz, instead of changing the way it work, what do you think of having a prop called `component` allowing you to decide what component to render, with a default to `<a>` (current behavior) ?

We already use this prop for a few other component (Button, Grid, Dialog, ..), so at least we keep it "standard".

[2016-02-11 01:47] tleunen commented on #197
The issue is because we set the `key` prop on the Textfield. Because of that, the input changed, but not the whole element, so it's never unmounted / re-mounted.

I'll try to find a fix for the 1.4 release...

[2016-02-11 04:12] morlay commented on #158
After talking with the mdl team, https://github.com/google/material-design-lite/issues/2028
I'm persuaded following the react way to create these components, https://github.com/morlay/react-pure-mdl/
It is already used in my recent project, most of them works well.
But still need more testings and docs, if I have enough time.

And in the next big version of mdl, there will be a standard way for `

[2016-02-11 04:24] tleunen commented on #158
Yep, I was thinking of updating all components to not use their JS at all and just their CSS. I noticed the limitation of using their code when building the snackbar.

Nice work. What do you think of focusing our effort? We could prepare the v2 in a new branch using only the css directly imported in the component using [css modules](https://github.com/css-modules/css-modules)

[2016-02-11 04:32] #158 closed

[2016-02-11 07:16] morlay commented on #158
I like `css-modules`, however,  `css-modules` is not fully compatible with `BEM`.
And in the MDL, there are some dirty overwrites crossing components. That means we have to rewrite some css too, if we use css-modules. And http://react-toolbox.com/ which is created by css-modules, is good enough ( There are too may choices in frontend :-P ).

So I think we have to use constants to maintain the cl

[2016-02-11 13:43] tleunen commented on #158
Could we discuss about it on [discord](https://discord.gg/0ZcbPKXt5bWTpxL5) or somewhere else? :)

[2016-02-12 00:16] #116 closed

[2016-02-12 17:18] #211 closed

[2016-02-12 22:26] #197 closed

[2016-02-12 22:53] #199 closed

[2016-02-12 23:50] vu-dang opened #216 "Button with icon and text"
How do I get the button to show both icon and text.  Using MDL, I would do the following:

[code]

Thanks,

[2016-02-13 00:22] tleunen commented on #216
Like this:
[code]
http://codepen.io/anon/pen/VegzEe

[2016-02-13 00:22] #216 closed

[2016-02-13 16:08] kuy opened #218 "Dialog container must be a child of <body>"
I just tried out recently implemented Dialog component in my app. It seemingly looks fine, but I found a problem that are no backdrop and incorrect position of the dialog. According to [MDL document](http://www.getmdl.io/components/index.html#dialog-section), a Dialog container must be a child of `<body>` element.

In my React app, it's difficult to render into `<body>` element because I already u

[2016-02-13 16:49] tleunen opened #219 "Improve the DataTable component"
Some discussions already occurred in #105, but I'd like to recap everything here so it's easier to track.

Here are a few things have in mind
- [x] Move back the `selectable` prop inside the `DataTable`, and also add `onSelectionChanged` and `selectedRows`
- [x] Create a specific component for `TableColumn` with props (`name`, `numeric`, `tooltip`, `cellFormatter`).
- [x] Adds a Sortable table
- [

[2016-02-13 16:49] tleunen commented on #105
Closing in favor of #219

[2016-02-13 16:49] #105 closed

[2016-02-13 16:54] tleunen commented on #218
Are you using our "un-released" `Dialog` component?
I'm not sure to understand why your dialog is not inside your React app.

Anyway, even if it's separated, why can't you do something like this?
[code]

[2016-02-14 01:32] kuy commented on #218
Thanks for your reply!
Yes, I'm using un-released `Dialog` component.
Because I'm using `react-mdl` with Redux, if I put a dialog outside of the root element (in Redux, it's called **container** component), it will be out-of-control. I can put a dialog component as a pure React component, but I can't show/hide it from Redux because it isn't **connected** to Redux's `<Provider>`.

[2016-02-14 03:06] tleunen commented on #218
Why would it be out of control? You can pass the `open` prop to the dialog which will open it when needed.

[2016-02-14 07:41] kuy commented on #218
Ah...you means I can still set `open` property of `<dialog>` element via DOM interface or call `showModal()` via [JavaScript API](https://developer.mozilla.org/en-US/docs/Web/API/HTMLDialogElement).

[2016-02-14 09:34] kuy commented on #218
@tleunen Sorry for boring you by my question. Finally, I got what I wanted. Using [react-portal](https://github.com/tajo/react-portal), I can put `<Dialog>` component under Redux's rendering tree with placing `<dialog>` tag as a child of `<body>` tag.

Why I want to keep `<Dialog>` component in Redux's rendering tree is that I want to pass a content for the dialog and receive events from the dialo

[2016-02-14 15:53] tleunen commented on #218
Well.. I still don't understand the problem with our [Dialog component](https://github.com/tleunen/react-mdl/tree/master/src/Dialog).

Good thing you found a solution though.

[2016-02-14 15:53] #218 closed

[2016-02-14 21:45] #201 closed

[2016-02-15 00:14] rimaudev opened #220 "CSS for mdl-1.1.1 components missing"
MDL 1.1.1 [list component](http://www.getmdl.io/components/#lists-section) does not align properly because the required CSS styles are missing.

A workaround is to include original 1.1.1's css before the extra css.

Hope you can update this soon. Thanks!

[2016-02-15 00:22] tleunen commented on #220
What do you mean? Everything looks fine here http://tleunen.github.io/react-mdl/#/lists

[2016-02-15 06:03] rimaudev commented on #220
I just realized i was on react-mdl 1.3.0 (that supports mdl 1.0.6). My mistake, will close this ticket.

Thanks for the quick feedback.

[2016-02-15 06:03] #220 closed

[2016-02-16 06:09] t1bb4r opened #221 "Dialog state does not change on close"
I think the Dialog component should set its state to `{openDialog: false}` on 'dialogclose'.

Currently if a user presses the escape key to close the dialog it wont open again since the openDialog state is still set to true.
This can be reproduced using the demo page:
 - clicking show modal opens the dialog
 - press escape
 - clicking show modal again does not open the dialog

Unexpected state can

[2016-02-16 13:08] t1bb4r commented on #221
I'm very new to React so forgive my ignorance, here is what I've done to solve it. Hope this helps some one.

The following did not work (The event might be unsupported by React?)
[code]
So I did the following:
[code]
Now when a user presses escape, or exits the dialog without using the button, the state is correctly set and the dialog can be opened once more.

[2016-02-16 13:42] tleunen commented on #221
Thanks for reporting the issue!
I didn't know the escape key could cancel the dialog. But indeed, it's explained on the [Chrome developer page](https://developers.google.com/web/updates/2013/09/dialog-element-Modals-made-easy).

Using the `cancel` event should solve this. In your case, try with `cancel` instead of `onCancel`.

I'm thinking of cancelling the escape key by default, unless the user p

[2016-02-16 23:46] Permagate commented on #221
Hi @tleunen, thanks for the link. there are some new things regarding the native dialog element that I have learned.

I couldn't find the doc that says `onCancel` would be implemented, cmiiw. So I'm thinking if we should provide one ourselves? So that we don't need to attach a listener everytime we create a dialog, like @t1bb4r did.

Yeah, I agree.

[2016-02-17 00:19] tleunen commented on #221
The thing is, `cancel` is an attribute on the native dialog, so we don't need to attach an event.

[2016-02-17 00:20] tleunen commented on #221
I'll open a ticket in React to know if they plan to add the `onCancel` event.

[2016-02-18 03:37] #221 closed

[2016-02-18 03:37] tleunen commented on #221
So I have a fix (quite easy to do), but I also wanted to add some tests to make sure we don't introduce regressions later, but I have some hard time finding how to check that the dialog closes or not when the user pressed the escape key :/

If you have some time @Permagate, could you take a look to see if there's a way?

[2016-02-18 13:55] skaapgif commented on #221
I didn't test the code now, but going by what @t1bb4r has said, if `cancel` isn't a supported react event, then your code would never call the `onCancel` prop?

I would have expected to see
`this.refs.dialog.addEventListener('cancel', this.props.onCancel);`

instead of

`this.refs.dialog.addEventListener('cancel', prevent);`

But perhaps I'm missing something.

[2016-02-18 14:00] tleunen commented on #221
Indeed, `cancel` is currently not a supported react event. I created a ticket in React (https://github.com/facebook/react/issues/6049) about it.

But there's a difference between what you define as props in your own components, and what's defined on the React elements.

For the `prevent` function, from my testing, it's called when the dialog receives the `cancel` event. The reason why the componen

[2016-02-18 14:10] skaapgif commented on #221
I agree that components should have as little state as possible and like the fact that you made the default for `onCancel` to `prevent` closing.

But given the following code:

`<Dialog onCancel={console.log('user cancelled the dialogue'}>`

Would react actually handle the `cancel` event and call my `onCancel` prop? I think the above code would still call `prevent` and nothing would be shown on th

[2016-02-18 14:12] tleunen commented on #221
Nop, if you specify the `onCancel` prop, it will override the default value set in the `Dialog` component. So the `prevent` function won't be called.

[2016-02-19 14:06] aaugustin opened #223 "Docs don't seem to work on Firefox"
<img width="864" alt="screen shot 2016-02-19 at 15 06 08" src="https://cloud.githubusercontent.com/assets/788910/13177577/5c78479c-d71a-11e5-91d2-4aa193c6d9e7.png">

[2016-02-19 14:39] tleunen commented on #223
Hmm... I don't see any issues on FF 44.0.2

[2016-02-19 16:16] aaugustin commented on #223
I'm on 44.0.2 as well and the problem persists after restarting Firefox and force-refreshing :-/

It works in Chrome and Safari. Not sure what's going on.

[2016-02-19 16:28] tleunen commented on #223
Do you have another machine you could use to test?

[2016-02-20 18:22] carpie opened #226 "Snackbar onTimeout still fires after component unmounted"
I was using the new Snackbar as a means to put up an error message if a user was trying to save my form but still had validation issues.  In the case that the error popped up and the user canceled the edit (thus going to a different page) before the Snackbar disappeared, I ended up getting React warnings because the Snackbar was setting state when the onTimeout timer fired after the unmount.

I be

[2016-02-20 18:31] tleunen commented on #226
Good catch. Indeed, we should clean everything when unmounting the component.

There's another small chance to have an error, with the second timer in the `clearTimeout`. The timer is so small the chances are really low, but still we should clear it.

[2016-02-20 21:06] carpie commented on #226
Ah, I see.  If unmount happens while the animation timer is running.  Will do.

[2016-02-21 14:35] aaugustin commented on #223
It works on my wife's laptop. Hmpf.

[2016-02-21 14:35] #223 closed

[2016-02-21 18:10] aaugustin commented on #223
Ugh, it was Privacy Badger being overzealous and blocking npmcdn.com. Really sorry for the noise!

[2016-02-21 21:21] Download opened #230 "npm test fails with out of memory"
I'm not saying this is an issue with this repo, just that this happened to me just now when trying to run `npm test` after forking this repo, cloning it to my (Windows 10) machine and `npm install`ing it:

[code]

Feel free to close, just posting this in case you like to know.

Thanks for your work on this lib btw.

[2016-02-22 02:09] tleunen commented on #230
Interesting. I'll leave it open for now. Maybe someone knows why it's happening.

On the long term, the tests will change and I'll probably drop karma for jsdom (with [Enzyme](https://github.com/airbnb/enzyme))

[2016-02-22 08:17] Download commented on #230
I tried a few more times but it is consistent. It's probably got something to do with the combination Karma/Windows I suspect.

Why the need for a framework like that though? Your components are mostly pretty simple so why not just test the output or `ReactDOMServer.renderToString`?

[2016-02-22 14:18] tleunen commented on #230
A component is not just an output, sometimes it's more than than with logic. So you cannot really use `renderToString`. That's why we currently use karma.
For the v2, I'd like to not depend on the MDL js part, in order to build real react component. So we'll have more "complex" component and we'll need to test them.

About the memory issue, I have no idea :s I never got any crash when testing loca

[2016-02-22 14:54] Download commented on #230
Yes! It would be so much better! :)

[2016-02-23 15:08] #226 closed

[2016-02-23 22:24] broveloper opened #232 "Menu broke after changing target key from htmlFor to data-mdl-for"
Menu component no longer works with IconButton with the change from htmlFor to data-mdl-for

https://github.com/tleunen/react-mdl/commit/a4211e61f80ea78525939f4ea72680b7e4dd4fd2#diff-e359c93bc52c848fbef7e3bdc25527db

Suggestion:
Switch it back or temporarily have both?

[2016-02-23 22:36] broveloper commented on #232
temporary solution for anyone who is experiencing is to pass in the htmlFor={target} in the <Menu> component itself.

[2016-02-23 23:14] broveloper commented on #232
Not an issue.  Bug was because of using old version of MDL v1.0.6, instead of v1.1.1

[2016-02-23 23:14] #232 closed

[2016-02-23 23:19] swarajd opened #234 "clean install causes error with upgradeElement"
installing it for the first time and including all the scripts and css from material design lite from their website causes this error: "Uncaught TypeError: Cannot read property 'upgradeElement' of undefined"

edit: this was when attempting to use react-slingshot, and creating a component with a layout with a fixed header.

[2016-02-24 06:11] tleunen commented on #234
Are you sure you include either the official mdl js file or the one we provide in /extra?

[2016-02-24 06:13] swarajd commented on #234
Ah my mistake I forgot to include the one provided in /extra. Apologies for the mix up

[2016-02-24 06:13] #234 closed

[2016-02-24 13:33] dark4eg opened #236 "ie 11 not supported method from of Array"
import React from 'react';
import { findDOMNode } from 'react-dom';

/* eslint no-eval: 0 */
export default (html) =>
    class PageComponent extends React.Component {
        componentDidMount() {
            window.componentHandler.upgradeElements(findDOMNode(this));

            const demoJs = document.querySelectorAll('.demo-js');
            Array.from(demoJs).forEach(code => eval(code.innerH

[2016-02-24 16:38] Permagate commented on #221
@tleunen Heya, I was preoccupied with other things last week, so I just take a look at the fix today. I agree with @skaapgif. I think specifying onCancel props still doesn't replace the `prevent` function behavior, does it?

I have to change the following:

`this.refs.dialog.addEventListener('cancel', prevent);`

to

`this.refs.dialog.addEventListener('cancel', this.props.onCancel ? this.props.onC

[2016-02-24 16:51] tleunen commented on #221
You don't have to manually listen the event yourself, the component does it for you.

[2016-02-24 17:11] Permagate commented on #221
Ah, I'm talking about the component itself: [https://github.com/tleunen/react-mdl/blob/master/src/Dialog/Dialog.js#L19](https://github.com/tleunen/react-mdl/blob/master/src/Dialog/Dialog.js#L19)

[2016-02-24 17:13] tleunen commented on #221
Oh damn you're right. It should be `this.props.onCancel` instead.

[2016-02-25 07:44] skaapgif commented on #221
Haha, glad to see I wasn't going crazy :+1:

[2016-02-25 19:34] szimek commented on #94
@tleunen Hey, I've got similar question. I'd like to add a back button to the header:
[code]
I guess it's not possible with the current `Header` component? I can always use plain HTML, just asking :)

[2016-02-25 19:49] tleunen commented on #94
Everything you put in a `<Header>` will be wrap inside a `HeaderRow`, unless it's already a row, or a tab.
So with the current implementation, you cannot achieve exactly the same thing as what you describe, but you can have something quite similar I think using this:
[code]

[2016-02-25 21:16] szimek commented on #94
This works:
[code]
@tleunen Thanks for this awesome library!

[2016-02-25 23:43] markuso opened #238 "Drag and drop text inside a Textfield replaced value with "undefined""
Some users are used to **moving text around** by dragging and dropping to a new location (within larger textarea fields usually). They select some text and drag it to another position within the same textfield or onto another altogether. This works perfect in native browser input and textarea fields, but not the input or textarea elements that the **Textfield** component renders.

Any ideas on wha

[2016-02-25 23:52] tleunen commented on #238
I tried it and everything seem to work. The value is updated after a drag/drop text with the correct value, not undefined.

Do you have an example?

[2016-02-26 00:20] markuso commented on #238
My apologies. It seems to be because they are passed props from redux-form. I will investigate further. Thank you and I'll close this issue for now.

[2016-02-26 00:20] #238 closed

[2016-02-26 00:21] tleunen commented on #238
Do you update your store with the `onChange` handler?

[2016-02-26 00:24] markuso commented on #238
Yes I do.

[2016-02-26 00:34] markuso commented on #238
The problem turned out to be within the `onDrop` and `onDragStart` props that `redux-form` passes into the textfield when I wrap the component. I will submit an issue on that repo.

Thanks a lot Tommy :)

[2016-02-26 00:34] tleunen commented on #238
np, let me know if I can help ;)

[2016-02-26 07:18] Permagate commented on #236
Based on [https://babeljs.io/docs/learn-es2015/#math-number-string-object-apis](https://babeljs.io/docs/learn-es2015/#math-number-string-object-apis), we might need to include polyfill to support `Array.from` syntax. Or we can just avoid it altogether.

[2016-02-26 23:18] tleunen commented on #230
@Download I found a similar issue here https://github.com/karma-runner/karma/issues/1868
We can try to move to this configuration to see if it resolves your issue https://github.com/webpack/karma-webpack#alternative-usage

[2016-02-27 09:36] janpieterz commented on #219
Sweet proposal! Sorry, I've been a bit off of projects using MDL lately.

[2016-02-27 16:43] Download opened #239 "Publish ReactMDL to CDN?"
Would you consider removing the `out` folder from the `.gitignore` file and publishing

* `ReactMDL.js`
* `ReactMDL.js.map`
* `ReactMDL.min.js`
* `ReactMDL.min.js.map`

to Git?

I know it is somewhat against best practices to do so, but it makes it very easy to load React-MDL from RawGit CDN, like this:

[https://cdn.rawgit.com/download/react-mdl/v1.4.1-bin/out/ReactMDL.min.js](https://cdn.rawgit.

[2016-02-27 17:15] tleunen commented on #239
You can use npmcdn to get the same result. Here's the latest version for example https://npmcdn.com/react-mdl@1.4.2/out/ReactMDL.js

[2016-02-27 17:15] #239 closed

[2016-02-27 19:57] Download commented on #239
Ah! That's great! Thanks!

[2016-02-29 21:54] tleunen opened #240 "Demos on codepen are broken"
This error occurs on all codepen examples:
[code]

[2016-03-01 14:40] kctang commented on #42
These fields:

[code]

Current behavior on component render:
* check1 shows error.
* check2 does not show error

Would be better if `check2` also show error because pattern is not set.

[2016-03-01 14:44] tleunen commented on #42
I thought we were handling the case but I guess not. Could you please open a new ticket to track the issue?

[2016-03-01 14:52] kctang opened #241 "Textfield error message not showing when "error" is specified but "pattern" is not"
This issue was derived from https://github.com/tleunen/react-mdl/issues/42.

Given these two fields:

[code]

Current behavior on component render:
* `check1` shows error. ok.
* `check2` does not show error. not ok.

Would be better if `check2` also show error because pattern is not set.

[2016-03-01 15:08] kctang commented on #241
I just found out that the `check1` scenario above is also not acceptable.

It will show the "Please match the requested format" message because it will force input to validate against the pattern.

![screenshot](http://i1255.photobucket.com/albums/hh638/nadeemkhn157/patternerror_zpsb5429e9f.png)

[2016-03-02 16:38] #236 closed

[2016-03-02 16:38] #241 closed

[2016-03-02 16:38] #230 closed

[2016-03-02 16:38] #240 closed

[2016-03-03 13:35] tleunen commented on #219
I started the modifications. I didn't push it yet. I'm still thinking about how to build the Sortable thing. If I do a prop, or a HoC component over the current table component.
I'm almost sure I'll go with the HoC component, so I can keep the "sortable state" out of the current component.

[2016-03-03 14:35] FoxxMD commented on #219
+1 for HoC. I don't know how you are writing the sortable functionality but providing a way to override your default functionality (per-column?) would be super helpful if the data was more complex than a plain value.

[2016-03-03 16:20] mpepito13 opened #243 "MDL 2"
Hi,

do you intend to port react-mdl to MDL v2 ?
Thanks for your super work anyway !

arnaud.

[2016-03-03 16:22] tleunen commented on #243
MDL v2 is far from being released, but yes we'll support it.
React-MDL v2 will be a lot different too. Instead of using their javascript, we'll rebuild every component in a true React way, we'll only use the css they provide.

[2016-03-03 16:22] #243 closed

[2016-03-03 23:56] sangohan opened #244 "using a web-component (which is implemented with react) inside the Layout component causes an exception"
The error message i get is:
[code]

caused by the div inserted in the layout (with css class 'mdl-layout__inner-container'), which does not have a `data-reactid` attribute.

[2016-03-04 01:04] tleunen commented on #244
Can you share en example of code with the error?

[2016-03-06 20:15] tleunen commented on #219
I did something, I still have to adjust the tests.
Basically, I created a new component called `SortableTable` which takes exactly the same props as the default Table, and we can specify a custom `sortFn` on the table headers.

[2016-03-07 19:08] FoxxMD commented on #219
perfect

[2016-03-07 20:13] michaelguild13 commented on #219
Should this just be a prop option for the datatable vs a new component? That's what we're doing for our component library at Inova. Just a thought, not trying to argue anything. You know your repo better than I :)

[2016-03-07 20:25] tleunen commented on #219
At first I did it like that, but it also adds a lot of state management in the base table component and I think it's better in this case to have it in another component.

But I agree, because `selectable` is a prop, maybe it would be more consistent to have `sortable` as a prop :/

[2016-03-07 20:31] michaelguild13 commented on #219
For our component library with MDL, we bounced back and forth with that same problem. I think that's an architectural problem that get's ironed out with maturity. Really, depends on the masses here vs for us, private. I've been enjoying this repo with comparison on how we are doing it here, at Inova. Either way, great work @tleunen

[2016-03-10 02:16] tleunen commented on #219
I'm having an issue with the Selectable feature...

When the component receives new props, with new rows.. How should behave the selection? Should we reset everything all the time? It's probably a bad idea, but at the same time, I cannot really know if the row is fully new or not since I only store its id :s I may need to store everything after all :/

[2016-03-10 04:06] tleunen commented on #244
Closing this for now... Please provide more information

[2016-03-10 04:06] #244 closed

[2016-03-10 14:41] zeskysee commented on #219
I would like to check whether the following improvement will support custom header that required colSpan as the screenshot below?

<img width="1040" alt="screen shot 2016-03-10 at 10 35 29 pm" src="https://cloud.githubusercontent.com/assets/6244226/13672637/a52b24ea-e710-11e5-9f4f-6a8a8cc0a23e.png">

[2016-03-10 14:52] tleunen commented on #219
@zeskysee you mean the row with the "add" and "remove" buttons?
Nop, it won't be part of the table at this stage. But I'm pretty sure you could easily build it outside of it.

[2016-03-10 14:56] zeskysee commented on #219
<img width="1040" alt="screen shot 2016-03-10 at 10 35 29 pm" src="https://cloud.githubusercontent.com/assets/6244226/13673260/39cb1fa4-e713-11e5-8f1e-be999d0dcf69.png">

@tleunen so you mean add the buttons outside the table?

[2016-03-10 14:57] tleunen commented on #219
Yep, with the new component (not released yet), you'll be able to get the selected rows so you can enable/disable the buttons outside of the table

[2016-03-10 15:09] zeskysee commented on #219
May I know will the new data table (not released yet) will be working if i did not specify any table header?

[2016-03-10 15:10] tleunen commented on #219
It won't work without headers. Headers are used to know in which order the data have to be displayed.

[2016-03-10 15:23] jdrmar opened #251 "color styles layout issues"
Hi, I just started using your helpful library today.
It might be that I'm doing something wrong, but it seems like the colored styles (for example material.yellow-red.min.css) behave differently from the material.min.css style.

Notably:
* the in-focus label:after style for textfield has a background that is not visible on a yellow background (for example when using a textfield in the header behin

[2016-03-10 15:26] tleunen commented on #251
Hmm.. It might be an upstream bug in that case, since all the files under `/extra` are generated by the MDL project (https://github.com/google/material-design-lite) with our layout patch.
So it might be on their side, or might be a side effect of the applied layout patch

[2016-03-10 15:30] zeskysee commented on #219
After re-read the material design's data tables guideline, it is correct to make the assumption that the header is mandatory

Sorry for my ignorance question. Thanks for the quick response and answer :) Looking forward to your new release data table.

[2016-03-10 15:35] jdrmar commented on #251
Hi Tommy,

Turns out the grid with issue was due to a mistake I made: in an attempt to check why the in-focus color was off, I used the official mdl style, causing the grid to be off. Sorry!

[2016-03-10 15:36] tleunen commented on #251
np ;)

[2016-03-10 15:36] #251 closed

[2016-03-10 15:43] tleunen commented on #219
Hopefully, it should be this weekend :)

[2016-03-11 01:37] tleunen commented on #219
@michaelguild13 I've decided to change the way I was thinking it. So in my latest attempt, both the `selectable` and `sortable` are props. And I also put the specific code in each a `Selectable` and `Sortable` HoC component so I can keep the initial `Table` component quite easy to read.

No changes for the end user except now when importing the Table, he will both import the sortable/selectable co

[2016-03-12 11:36] szimek opened #252 "Support React 15.x releases"
When I try to update React 0.14.x to 15.0.0.rc1 I'm getting the following errors:
[code]
I'm not sure if there are any changes in React 15 that can cause problems in react-mdl, but it would be awesome if it supported the new version.

[2016-03-12 17:57] #252 closed

[2016-03-14 00:36] tleunen commented on #219
PR merged. Closing this ticket

[2016-03-14 00:36] #219 closed

[2016-03-14 16:23] jolic opened #253 "Dialog disables overflow on body"
When you try to close an opened dialog at the examples than the overflow scrolling on body is not possible anymore:

https://tleunen.github.io/react-mdl/#/dialogs

[2016-03-14 16:24] tleunen commented on #253
I'm wondering if it's not a chrome issue.. If I open the devtools or resize the window, it resolves the issue :/

[2016-03-14 16:47] jolic commented on #253
Just researched a little: It's the div container with class "mdl-layout__inner-container"!

If you set on close overflow-x on "auto" it works...

It seems a bug in chrome? you need to "touch" the overflow style...

[2016-03-14 16:48] tleunen commented on #253
What do you mean?

[2016-03-14 16:49] jolic commented on #253
Just need to verify it...

[2016-03-14 16:58] jolic commented on #253
Ok... this is super strange:

You have to set after the close of a dialog (verified on Chrome):

document.getElementsByClassName('mdl-layout__inner-container')[0].style.overflowX='auto';
document.getElementsByClassName('mdl-layout__inner-container')[0].style.overflowX='';

Try it on the demo page...

I think this is a css issue. Have you copied the css from Google?

[2016-03-14 17:03] jolic commented on #253
Chrome seem buggy. ;)

[2016-03-14 17:04] jolic commented on #253
This works for me:
[code]

[2016-03-15 05:30] bingomanatee opened #254 "How to combine onClick links with drawer nav"
I am using onClick handlers in my drawer nav. What do I trigger to close the drawer?

[2016-03-15 08:20] kkpoon opened #255 "material.js in extra has error in Tabs"
this line has error in console
https://github.com/tleunen/react-mdl/blob/master/extra/material.js#L3565
Uncaught TypeError: Cannot read property 'charAt' of null

looks like the original mdl would look into the href attribute

[2016-03-15 09:24] unindented opened #256 "Issue when running `npm shrinkwrap`"
I'm stumped. When running `npm shrinkwrap` on a project that depends on `react-mdl`, I get the following error:

[code]

If I go to `node_modules/react-mdl/node_modules`, I'm indeed seeing `history`:

![screen shot 2016-03-15 at 09 20 42](https://cloud.githubusercontent.com/assets/69485/13773117/9c2b53ce-ea8f-11e5-93d8-52abe85dab52.png)

However, your `package.json` declares `clamp` and `classname

[2016-03-15 12:28] jolic commented on #256
Sorry for the post here but

why is "New Issue" disabled?

[2016-03-15 13:54] tleunen commented on #254
Currently, there's no easy way to that, but you could set a `ref` on the layout, and then call this `findDOMNode(this.refs.layout).MaterialLayout.toggleDrawer()`

[2016-03-15 13:55] tleunen commented on #255
Could you share what you're trying to do?

[2016-03-15 13:57] tleunen commented on #256
Is it from a clean install? Which version of node and npm are you using?
It should never install history, as it's not a direct dependency.

@jolic nothing is disabled. If the button is disabled for you, contact github support.

[2016-03-15 13:59] jolic commented on #256
"Submit new issue" button is disabled.

[2016-03-15 14:06] tleunen commented on #256
You have to specify a title and a description to submit an issue.
If you still have issue, please contact the github support.

Stop posting this here.

[2016-03-15 14:12] jolic commented on #256
Unitl waiting for response from Github according the New Issue bug here is a small patch for the drawer:

When the drawer is displayed and the content inside the <Layout/> is greater than the window you can scoll down and the div with ".mdl-layout__obfuscator" is shown but the height is not 100%.
Changing the style of ".mdl-layout__obfuscator" to
[code]
fixes it.

[2016-03-15 14:14] jolic opened #257 "Patch for the Drawer"
When the drawer is displayed and the content inside the ```<Layout/>``` is greater than the window you can scoll down and the div with ".mdl-layout__obfuscator" is shown but the height is not 100%.
Changing the style of ".mdl-layout__obfuscator" to
[code]
fixes it.

[2016-03-15 14:46] unindented commented on #256
@tleunen Fresh install. I've tried `rm -rf node_modules` multiple times, I've tried `npm cache clear`, and I always get the same.

[code]

I'm pretty sure npm is at fault here, but if you could verify with a couple of your projects...

[2016-03-15 14:57] tleunen commented on #256
I found this https://github.com/npm/npm/issues/9894 and this https://github.com/npm/npm/issues/9642
Looks like, because of the name, it's always pulled.

I never got the issue with npm 3, so if you can, upgrade your npm ;)

[2016-03-15 15:02] unindented commented on #256
Ha, nice! Thanks for finding that!

[2016-03-15 15:02] #256 closed

[2016-03-16 00:40] kkpoon commented on #255
[code]

[2016-03-16 00:43] tleunen commented on #255
Indeed, I can reproduce the error in our demos

[2016-03-16 00:44] kkpoon commented on #255
I have made a pull request in material-design-lite, see whether they consider as a bug

https://github.com/google/material-design-lite/pull/4203

[2016-03-16 11:28] iamale opened #259 "Add jsnext:main field to package.json"
This way you can support [rollup.js](http://rollupjs.org) — a relatively new module bundler that (claims to) produce smaller builds than WebPack by using tree-shaking. To support it, you'd add a `jsnext:main` entry to the package.json, like so:

[code]

You already include `src/` in your npm releases, and adding one line shouldn't be a problem, I believe.

#### See also
- http://rollup.org
- https

[2016-03-16 13:33] tleunen commented on #259
Have you tried it? Everything works as expected with rollup?

[2016-03-16 14:30] iamale commented on #259
I'm currently trying it out. One problem could be a lot of config to boot up React itself (https://gist.github.com/iamale/fa68da6925b44f567d63), but otherwise it should be OK. I'll write once I manage to start it.

[2016-03-16 22:43] tleunen commented on #257
Can this be reproduce with the base MDL? outside of react-mdl?

[2016-03-17 06:22] jolic commented on #257
See https://www.getmdl.io/components/index.html#layout-section

When you add some big content inside the ```<main class="mdl-layout__content">...</main>``` on the first example it works as expected.

[2016-03-18 00:10] jdinartejesus opened #260 "Fixed headers doesn't work"
When using ` <Layout fixedHeader>` doesn't work. The component header still scroll together with the content.

[2016-03-18 17:27] vitosamson opened #261 "when dragging a Slider with a fixed value, the bubble stays in place but the width of the colored line changes"
sorry if that's a poor title, not really sure how better to explain it. see this screen cap: http://g.recordit.co/jDMmN7oGKd.gif

the component is rendered with `<Slider value={50} max={100} min={0} onChange={e => e.preventDefault()} />`

I suspect this may actually be an issue with mdl itself, but I'm wondering if there's anything that can be done on the react-mdl side to prevent it.

react-mdl@1

[2016-03-18 17:39] tleunen commented on #261
Thanks @vitosamson, I'll investigate the issue.

From what I see, because of the custom UI styles, we cannot directly set the value of the input field. We have to use the MDL function to do so (using `MaterialSlider.change(value)`).

[2016-03-19 02:47] tleunen commented on #257
How do you scroll with the visible obsuscator?
Could you build an example using codepen, jsbin or any other tool like that?

Thanks.

[2016-03-19 03:58] tleunen commented on #260
I'm not able to reproduce the issue.
See this as an example: http://codepen.io/anon/pen/RapwNO?editors=001

[2016-03-19 03:58] #260 closed

[2016-03-19 03:59] #255 closed

[2016-03-19 04:07] #259 closed

[2016-03-19 08:17] jolic commented on #257
As I wrote a codepen I realized that I didn't wrap the content with a ```<Content/>``` component:

http://codepen.io/jolic/pen/wGJvQg

Works as expected.

[2016-03-19 11:40] #257 closed

[2016-03-19 19:42] tleunen commented on #261
Will be fixed in next version.
But, usually the slider must be a controlled component, thus you have to retrieve the value from the `onChange` event and update the value from the slider.
If you want to force a value, without setting the slider as disabled, you could do something like this I guess:
[code]

[2016-03-19 19:49] #261 closed

[2016-03-19 19:55] vitosamson commented on #261
Awesome, thanks for the speedy fix! That's pretty much my use case - it is a controlled component but sometimes I don't want the user to be able to change the value, but also don't want it disabled.

[2016-03-19 19:57] tleunen commented on #261
Ok ;)
So yep, you'll still need to "force update" the value, to trigger an update on the component, and thus update the UI for the slider.
Unfortunately, until v2, that's the only way.

[2016-03-19 20:11] vitosamson commented on #261
It seems like even with forcing an update via state change the background and button become out of sync. Any eta on v2?

[2016-03-19 20:12] tleunen commented on #261
Yep, this is because you still need the fix I did in this commit ;) https://github.com/tleunen/react-mdl/commit/cd1253dc62ae546b14fb6ba47bc74524cd77d7a9

I'll release v1.5.1 later today.. V2 is still experimental and will take a few weeks/months ;)

[2016-03-19 20:16] vitosamson commented on #261
Ah gotcha, I thought you'd meant that as a workaround until the commit landed in a release. Will that commit be in 1.5.1?

[2016-03-19 20:19] tleunen commented on #261
yep!

[2016-03-19 20:22] vitosamson commented on #261
:+1: thanks again for the quick response

[2016-03-20 12:34] marcelpanse opened #262 "window.scrollTo(0,0) doesn't work with Layout component"
If you use a layout component (with a navigation/drawer) then `window.scrollTo(0,0)` stops working.
`window.scrollTo(0,0)` is the recommended way for react-router to navigate back to the top when a page changes.

This problem is also visible at the react-mdl webpage: https://tleunen.github.io/react-mdl/#/lists
Just open the console and type `https://tleunen.github.io/react-mdl/#/lists`.

Because o

[2016-03-20 14:37] iamale commented on #259
Works smoothly so far!

[2016-03-20 15:04] tleunen commented on #262
Unfortunately, it's a limitation of Material Design Lite, because the scrolled content is not the body. It's the content container.

But you can still scroll the container at the top using this
[code]

[2016-03-20 21:25] rektide opened #263 "Slider value isRequired, preventing defaultValue"
Hiya. In Slider, value is required. This is in conflict with the demoes in https://tleunen.github.io/react-mdl/#/sliders , which use defaultValue instead of value: https://tleunen.github.io/react-mdl/#/sliders .

Having both a value and defaultValue gives:
*Warning: Input elements must be either controlled or uncontrolled (specify either the value prop, or the defaultValue prop, but not both). Dec

[2016-03-20 21:29] tleunen commented on #263
The documentation always mentioned them as required, but it wasn't the case in the code. So in the latest version, I set them as required.

The slider is therefore not compatible with the "uncontrolled" way. I should change the demos to reflect that.

[2016-03-20 21:34] rektide commented on #263
What kind of work would have to go in to getting uncontrolled supported?

[2016-03-20 21:44] tleunen commented on #263
Not much probably...
Just change this line to execute it only when a value is provided.
https://github.com/tleunen/react-mdl/blob/master/src/Slider.js#L16

A PR is welcome to change that.

[2016-03-21 07:11] kkpoon opened #264 "Layout Header disappeared in small screen"
no matter in Template -> [Article](https://tleunen.github.io/react-mdl/#/templates/article), Template -> [Text](https://tleunen.github.io/react-mdl/#/templates/text)

or

in the example of https://tleunen.github.io/react-mdl/#/navigation-layout

when scale the screen to small width, e.g. 800x600, the layout nav bar disappear no matter `fixedHeader` = true or false

[2016-03-21 08:15] marcelpanse commented on #262
Cool, this seems to work just fine, I will use this workaround. Thanks.

[2016-03-21 08:15] #262 closed

[2016-03-21 08:58] jolic commented on #42
Wouldn't it be good to add a callback when an input item isn't valid?

Something like:
[code]

Currently only the parent element of the input gets the classname "is-invalid".

[2016-03-21 13:41] tleunen commented on #42
I think you can use the `onInvalid` event, or the `onChange` event and check the validity of the input field there.

[2016-03-21 15:26] prasadsilva commented on #254
What did you have in mind for 2.0? Wrap the toggleDrawer call in a Drawer component method?

[2016-03-21 15:31] tleunen commented on #254
Yep exactly. Having a prop on the drawer to open/close it.

[2016-03-21 15:34] prasadsilva commented on #254
Cool. Just ran into this. Having trouble getting a ref to the Layout..

[2016-03-21 16:13] prasadsilva commented on #254
Nevermind, issue was my fault. Scopes! :)

[2016-03-21 20:28] #264 closed

[2016-03-21 21:25] #263 closed

[2016-03-23 02:46] Chun-Yang opened #265 "BUG: get error when using HeaderTabs component"
First, Thanks for your awesome project!

Here is the bug:
When I use the HeaderTabs component and try to click one of the tab, I get the error:
[code]

It is in line 3575 of the material.js file
[code]
FYI, I copied the materiali.js file from your repo https://github.com/tleunen/react-mdl/blob/master/extra/material.js

After I comment this event listener, the bug disappeared.

Do you think it is a

[2016-03-23 02:50] tleunen commented on #265
Duplicate of https://github.com/tleunen/react-mdl/issues/255
Should have been fixed in 1.5.2. What version are you using?

[2016-03-23 03:05] #265 closed

[2016-03-23 03:07] Chun-Yang commented on #265
I am using version 1.5.2

[2016-03-23 03:09] tleunen commented on #265
hmm indeed the error is still thrown... Yes it's safe to remove it, it's not used anyway since 1.5.2 :)
Unfortunately, unless they change something in the base MDL lib, it's not something we can fix.

[2016-03-23 10:43] PavelPZ opened #266 "Typescript support"
@tleunen first thanks a lot for creating react-mdl. I came from .NET and angular world and I surprisingly recognized that there is not any feasible ui framework for React so far (apart from horrible and not mobile friendly Material-UI or apart from react-bootstrap). I appreciate a lot your approach of react component wrapping up Google JS and CSS and I find it very promising.

However, I am missin

[2016-03-23 11:32] PavelPZ opened #267 "ReactMDL.js bundle: "react" or "react-dom" instead of require('React') or require('ReactDOM')"
Is it possible to have this header in installed ```node_modules\react-mdl\out\ReactMDL.js``` file?

[code]

[2016-03-23 13:01] tleunen commented on #267
React and react-dom are not inside the bundle, you have to require them before including reactmdl ;)

You can use these urls: https://npmcdn.com/react@0.14.7/dist/react.min.js and https://npmcdn.com/react-dom@0.14.7/dist/react-dom.min.js

[2016-03-23 13:04] tleunen commented on #266
I'm not a typescript user, but indeed it would be great having the typescript description file for all the typescript users out there :)
Even if I'm thinking about v2 (which btw will be fully React, without the initial material.js from MDL), it's still in early development. So if you want the typescript support asap, it's better to do it against v 1.5 first ;) Ideally, both versions will have a re

[2016-03-23 13:16] PavelPZ commented on #267
Yes, I know, but ```react-dom.min.js``` uses ```require("react")```, your ```node_modules\react-mdl\out\ReactMDL.js``` uses ```require("React")```.

So SystemJS module loader needs to map both ```react``` and ```React``` to the same module bundle. I am working without NPM, Babel, wabpack etc., just Typescript.

But forget for it...

[2016-03-23 13:22] tleunen commented on #267
Oh I see.. Thanks for the clarification. I didn't get that at first.

I guess it's because of these lines: https://github.com/tleunen/react-mdl/blob/master/webpack.config.js#L3-L4

Feel free to submit a PR to fix the import names :)

[2016-03-23 13:23] PavelPZ commented on #266
OK, I will try to parse 1.5's <component>.propTypes objects.

[2016-03-23 22:50] greggigon opened #268 "Slider onChange is not called with value but with Event"
Hi
First of all, excellent work.
I think I'm hitting a brick wall with Slider component.
According to docs:

However, if I modify the Codepen example to :

`<Slider min={0} max={100} defaultValue={0} onChange={(e) => console.log(e)}/>`

when I move slider, I can see Event, not the Value being passed.
Any ideas?

[2016-03-24 02:19] tleunen commented on #268
Thanks for reporting the issue. It's an error in the documentation. You'll receive the event and you can get the value with `e.target.value`.

[2016-03-24 03:11] kkpoon opened #269 "About Menu target attribute"
it seems that the target attribute require dom ID to anchor with the button is not a good idea in React world. It is so difficult to get an ID for the reused components.

https://tleunen.github.io/react-mdl/components/menu/

[2016-03-24 03:15] tleunen commented on #269
I fully agree with that, but that's how the original MDL works unfortunately.
I don't see it changing before our v2 version though.. Unless someone has a good idea how to resolve it in v1?

[2016-03-24 08:08] PavelPZ commented on #266
I prepared the first .d.ts version. I have problem with the functional properties signature. Some of them I recognized from your code - can you check it out please? And there are three of them which I cannot recognize.
Thanks.

### Problems:
- TableHeader.cellFormatter - ??
- Dialog.onCancel - ??
- TableHeader.sortFn - ??

### Check it out please:
- Checkbox.onChange - event
- Radio.onChange - eve

[2016-03-24 14:33] #268 closed

[2016-03-24 14:37] tleunen commented on #268
I'll release the fix in the doc later today when I find some time ;)

[2016-03-24 20:57] tleunen commented on #266
TableHeader.cellFormatter can take 3 params, but only the first one is really needed. The 2 others are just in some specific usecases. (String, Object, Number) which are the value in the cell, the row object, and the index of the row.

Your definition for TableHeader.sortFn is correct. And the others as well.

[2016-03-25 20:02] bingomanatee commented on #254
i was also getting that issue prasadsilva reported; what was your fix?

[2016-03-25 21:12] alexeyzimarev opened #271 "Error in MDLComponent.componentDidMount when using JSPM"
I get an error in componentDidMount in MDLComponents.js when using JSPM. I am trying to render a div with one Button inside it:

[code]
The button itself gets rendered properly.

If I replace the Button with standard HTML, the error does not appear.

	.notifyAll@http://localhost:8776/deps.lib.js:8758:13
	ON_DOM_READY_QUEUEING.close@http://localhost:8776/deps.lib.js:5225:7
	Mixin.closeAll@http://lo

[2016-03-26 01:35] tleunen commented on #271
Did you include `material.js`?
My guess is that `componentHandler` is not defined.

[2016-03-26 08:50] alexeyzimarev commented on #271
OK, I missed that one.

Now it is different:

	componentDidMount@http://localhost:8776/jspm_packages/npm/react-mdl@1.5.2/lib/utils/MDLComponent.js:32:13

[2016-03-26 15:19] alexeyzimarev commented on #271
I found that the call to `findDOMNode` returns null, `upgradeElement` gets null for both parameters, although the calling party is a valid React element.

[2016-03-26 15:22] alexeyzimarev commented on #271
From what I read, render of stateless components returns null and in such case `findDOMNode` also returns null. I use stateless components.

[2016-03-27 01:00] prasadsilva commented on #254
Scopes? Make sure the click handler is a closure with the correct 'this' object. ES5: .bind() or ES6: () => { }

[2016-03-27 14:30] alexeyzimarev commented on #271
Okay, I found it. JSPM has installed both 0.15rc1 and 0.14.7 of React. When I cleaned it up to 0.14.7, everything started work. The question is if react-mdl will keep working on 0.15...

[2016-03-27 14:30] #271 closed

[2016-03-27 14:54] alexeyzimarev commented on #266
All elements are expected to have intrinsic HTML attributes like `style`, I can see this from examples. Also, `React.Props<T>` is marked as obsolete. In addition, we need to have support for importing individual components. I started a [repo for Typings](https://github.com/alexeyzimarev/typed-react-mdl), adding new elements continuously but only when I need them in my project. It may take about a

[2016-03-28 03:37] tleunen commented on #271
Currently, react-mdl is tested against React 15 rc2 so, yep it will work with 15 ;)

[2016-03-28 10:21] PavelPZ commented on #266
@tleunen thanks, I modified TableHeader.cellFormatter to (val:string, row: any, rowIndex:number) => string.

@alexeyzimarev, thanks for info about your project.
- All my d.ts code is generated from @tleunen 's propTypes objects (including oneOfType or oneOf, which is very usefull for typing, see e.g. ```FooterSectionProps.type?: 'top' | 'middle' | 'bottom' | 'left' | 'right';``` etc.). So it conta

[2016-03-28 12:50] PavelPZ commented on #267
I tried something at [my react-mdl fork](https://github.com/PavelPZ/react-mdl).

[2016-03-28 13:17] PavelPZ opened #273 "FABButton.propTypes does not contain Button.propTypes"
It seems that FABButton inherits all props from Button.
Are there any other examples of propTypes inheritance (I mentioned IconButton too)? If yes, I have to modify my TypeScript definition file generator.

[2016-03-28 14:37] alexeyzimarev opened #274 "Drawer and title alignment broken"
I took a sample code from the [documentation](https://tleunen.github.io/react-mdl/components/layout/) and the alignment of header elements is broken. Drawer and title row are not aligned vertically, as it is shown in the samples.

![2016-03-28_16-30-51](https://cloud.githubusercontent.com/assets/2821205/14080143/6587a06a-f503-11e5-8f41-6367c61b7669.png)

[2016-03-28 16:10] alexeyzimarev commented on #274
I tried to find out what the issue could be but cannot find it, all CSS properties are identical. This is what I see when I run my app:

![2016-03-28_18-06-08](https://cloud.githubusercontent.com/assets/2821205/14082399/034a7492-f510-11e5-81cc-0569019c4ff8.png)

[code]

**index.html**

[code]

[2016-03-28 23:15] tleunen commented on #273
Will continue the typescript related questions on https://github.com/tleunen/react-mdl/issues/266

[2016-03-28 23:15] #273 closed

[2016-03-28 23:16] #267 closed

[2016-03-28 23:18] tleunen commented on #274
Thanks for reporting the issue @alexeyzimarev. I don't see any issue on the website. Can you try to put your code on a codepen and share?

[2016-03-28 23:28] tleunen commented on #266
I don't mind adding a typescript definition file in this project, if one of you guys want to send a PR for that ;)
As @alexeyzimarev mentioned, almost all elements can have intrinsic attributes.

[2016-03-29 06:35] PavelPZ commented on #273
Is it really TypeScript question?

E.g. IconButton.js contains
[code]

Should not be (from button.js):
[code]

[2016-03-29 06:41] PavelPZ commented on #266
### intrinsic attributes
I added them to all components except of Table. The reason is that official react.d.ts definition file contains following definitions for some of the intrinsic attributes:
[code]

Those definitions are in conflict with the following react-mdl definitions:
```value: string | number``` for Radio and RadioGroup
```rows: Array<{}>```  for Table.

Possible solution is to keep `

[2016-03-29 07:38] alexeyzimarev commented on #274
I found this issue reported on MDL repo long time ago and there was also a workaround provided. I will post it here when I get back home.

[2016-03-29 11:39] alexeyzimarev commented on #266
@PavelPZ as you can see, I define interfaces for both Props and for ComponentClass<Props>. This is because I find it not correct to define classes in type definitions although I realize that these are ambient references, still it actually would generate some real JS code, whilst interface definitions do not generate anything. In order to export a component type, I declare a constant that has inter

[2016-03-30 13:21] nishyadav opened #276 "onClick on button not working when using Textfield"
I am facing very strange issue, following is a component

[code]
onClick is not working. It works if I remove both Textfields !!
Doesn't look like I am anything wrong here.
Notice that server side rendering is setup on my project.

[2016-03-30 14:33] jdrmar commented on #274
Does adding '<!doctype html>' to the top of your index.html fix it?

[2016-03-30 19:29] alexeyzimarev commented on #274
I used this:
[code]

[2016-03-30 19:30] alexeyzimarev commented on #274
@jdrmar It actually helped, thank you very much!

[2016-03-30 19:30] #274 closed

[2016-04-01 00:11] mpolichette opened #277 "Textfield is-invalid added on every change"
Hey guys,

I just started using react-mdl, so i might not be using it correctly, let me know if that is the issue.

I'm attempting to use `react-mdl` with `redux-form` and r and so far it looks like they get along REALLY well.  I'm actually surprised how easy this is.   However, it appears that using the validation tools for `redux-form` causes Textfield to keep adding `is-invalid` on every re-ren

[2016-04-01 01:03] tleunen commented on #277
Thanks for reporting the issue @mpolichette.

Good to know it works well with redux-form :) I'll make sure to fix the issue in the next version.

[2016-04-01 20:40] PavelPZ commented on #266
@alexeyzimarev, HTML attributes are already solved.
d.ts machine generation is based on correct propTypes in @tleunen code, see #273.
I am successfully using [react-mdl.d.ts](https://github.com/PavelPZ/rxjs-Angular2-DefinitelyTyped/blob/master/react-mdl.d.ts) in my eLearning project now.

[2016-04-04 15:15] Kuirak opened #278 "Navigation element not working with null or undefined elements"
If you use conditional syntax in JSX the Navigation component throws a null error `child.type is null/undefined`.

[code]

[2016-04-04 15:21] tleunen commented on #278
Thanks for reporting the issue @Kuirak.

[2016-04-04 21:59] samoshkin opened #279 "Badge component does not retain className of a given child"
Currently, `Badge` component works by cloning given child and assigning `mdl-badge` specific classes to it. The issue is that it does not retain existing className, which is set on that child.

Given this code
[code]

`OrderTabs-tabNewText` class name is not present in resulting DOM.

[code]

Should be pretty simple fix:
https://github.com/tleunen/react-mdl/blob/master/src/Badge.js#L31

[2016-04-06 18:48] samoshkin opened #280 "Layout. "Invariant Violation: processUpdates()" error when layout's child presence is changed"
I'm using `react-mdl@1.5.2`, and patched version of `material.js` and `material.css` according to [React-MDL requirements](https://github.com/tleunen/react-mdl#requirements), not `material-design-lite` counter parts, because I'm aware of [issue #1356](https://github.com/google/material-design-lite/issues/1356).

Layout component has two children: `Header` and `div.footer`. Initially `div.footer` i

[2016-04-06 19:57] tleunen commented on #280
Thanks @samoshkin for the great bug report! I'll use your repo to help me find the root cause to this.

[2016-04-08 12:31] tleunen commented on #273
Indeed, because `IconButton` is basically a `Button`, it can also accepts all the props from `Button`.

The thing is, I don't think it makes sense to put them in the code. I think `eslint` will warn of unused props if it's the case. So maybe it's something that should only live in the typescript definition?

[2016-04-09 06:15] PavelPZ commented on #273
You are right, I will include type inheritance to my generator for those cases:
- FABButton & IconButton inherits from the Button
- what else?

[2016-04-09 17:01] tleunen commented on #269
@kkpoon - What do you think of having the `target` props accepting a string (current behavior) or an element? If it's an element, the Menu will display the element and automatically attach the menu to it.

[2016-04-10 00:44] #277 closed

[2016-04-10 00:55] #278 closed

[2016-04-10 01:14] #279 closed

[2016-04-10 01:16] tleunen commented on #279
Thanks @samoshkin. I made a fix to retain the className from the child. At the same time, I also retain the className from the badge component itself, so you'll be able to write this:
[code]

[2016-04-10 02:36] tleunen commented on #280
Thanks a lot @samoshkin for the bug repo. It helped me a lot having quickly a test example and work a fix on it.
I moved the button in the layout so I could easily toggle the footer.
![mdl](https://cloud.githubusercontent.com/assets/1972567/14407778/ec766fa4-fea2-11e5-8aa7-da9c091f1e7d.gif)

A fix will follow soon :)
The fix is mostly inside the patched version of MDL. Instead of letting him creat

[2016-04-10 02:43] #280 closed

[2016-04-10 03:29] tleunen commented on #276
I'm not able to reproduce the issue with a simple example (http://codepen.io/anon/pen/MyQYxy?editors=0011)

If the issue persists on your side, could you setup a small repo example?
Thanks.

[2016-04-10 06:36] samoshkin commented on #280
Wow, thanks a lot for fixing this. Looking forward for the next release :)

[2016-04-10 16:27] tleunen commented on #280
Released as 1.5.3 :)

[2016-04-13 13:04] dimik opened #283 "Tabs panel support"
There's a .mdl-tabs__panel element in MDL documentation which defines a container as tab content
http://www.getmdl.io/components/index.html#layout-section/tabs

Now they're not supported and impossible to add anything else except Tab component inside Tabs component

[2016-04-13 13:06] tleunen commented on #283
In React-MDL, tabs works a bit differently than in the base MDL lib.
Have you seen the example? http://tleunen.github.io/react-mdl/components/tabs/

Based on the tab id, you can decide what to display.

[2016-04-13 14:39] darkyen commented on #269
@tl

[2016-04-13 14:45] darkyen commented on #253
Seems so, did you create an issue on Chrome Issues?

[2016-04-13 15:00] jolic commented on #253
No, I haven't created an issue...

[2016-04-13 15:21] darkyen commented on #253
Pretty sure its better that they fix it since the issue is chrome only.

[2016-04-13 15:38] tleunen commented on #253
Yep, try to create a small codepen example for example and submit a ticket in Chrome please.

[2016-04-13 22:02] gillchristian commented on #153
I'm having the same issue, but the material.js file is being included.
Problems is with the `<Drawer>` component

[2016-04-13 23:06] jolic commented on #253
Hmm... very strange. When I click on the "show dialog" button @ https://tleunen.github.io/react-mdl/components/dialog and then close the dialog I can't scroll the content anymore.

Here you can copy
[code]
in the console and the content is scrollable again.

When you look at the codpen http://codepen.io/jolic/pen/dMmzpX/?editors=0010 the content is scrollable after closing the dialog but also when

[2016-04-13 23:15] darkyen commented on #253
Cannot reproduce I can scroll just fine.

On Wed, Apr 13, 2016 at 7:06 PM, jolic <notifications@github.com> wrote:

[2016-04-13 23:56] tleunen commented on #253
In react-mdl website, the scrollable content is not the body, maybe it's related to that.

[2016-04-14 00:00] tleunen commented on #153
You can add material.js in webpack as well, but since it's not a dependency of react-mdl, you have to do it manually.

See the code on our website as an example: https://github.com/tleunen/react-mdl/blob/master/docs/pages/_template.js#L11

[2016-04-14 00:40] gillchristian commented on #153
***Thanks!*** That fixed the error, now it does not show.

The `<Drawer>` still not showing. But I guess that is not related to the issue.

[2016-04-14 00:45] tleunen commented on #153
If you can share some code, maybe I'll be able to help ;)
Otherwise, make sure react renders it. Use the debugger to help you in this task ;) or breakpoints in the code

[2016-04-14 00:53] gillchristian commented on #153
That's may code, `<App>` is the main component and `<MainNav>` is for now just a wrapper.
I am seeing everything rendered but the `<Drawer>` as I mentioned.

[code]
[code]

[2016-04-14 00:58] tleunen commented on #153
I think all the elements inside Layout should be the first child :/

[2016-04-14 01:01] gillchristian commented on #153
Yes, looks like that was the problem :grin:
Glad is solved now :smile:
BTW `react-mdl` is awesome!

[2016-04-14 01:02] tleunen commented on #153
Glad it solves the issue. Thank you :-)

[2016-04-14 06:02] jolic commented on #253
@darkyen Steps to reproduce:
With Chrome go to https://tleunen.github.io/react-mdl/components/dialog and click on the first "Show Dialog" button. When the dialog opens click on "Disagree". After the dialog is closed you can't scroll the content with **mousewheel** anymore.

If you open the console and trigger the function call (see above) the content is scrollable with the mousewheel again.

[2016-04-14 08:48] jolic commented on #253
@tleunen
It's not the ```<body>```. The title of this issue is misleading as I know now that the content which is scrolling is ```<div class="mdl-layout__inner-container"...></div>```.

[2016-04-14 10:28] jolic commented on #253
Updated the title. ;)

[2016-04-14 13:59] tleunen commented on #253
But the issue is still not reproducible in the codepen example :/
That's weird

[2016-04-14 15:36] darkyen commented on #253
@tleunen I think it has to do something with complex structures in chrome (could be userland code aswell). It works in firefox and even edge. There were a few warnings thrown by `dialog-polyfill.js` in `chrome` though "can't upgrade <dialog>: already supported". I wonder if it had to do something with that.

Also by changing the overflowX to change you are forcing the browser to re-layout.

[2016-04-14 15:55] jolic commented on #253
Here are 2 problems:

1. The example @ https://tleunen.github.io/react-mdl/components/dialog doesn't set the content to be scrollable with the mousewheel on Chrome

2. Why is the content scrollable with the mousewheel on Chrome when the dialog is opened @ http://codepen.io/jolic/pen/dMmzpX/?editors=0010?

The codepen example uses a simple ```<Layout/>``` with a dialog inside ```<Content/>``` taken

[2016-04-14 15:59] jolic commented on #253
Could somebody test both examples without any extensions in Chrome? Maybe this could be the issue?

[2016-04-14 16:14] jolic commented on #253
So, I've researched a couple of things and I'm sure the Dialog Component is not suitable. The Dialog is currently supported natively from Chrome and Opera (see http://www.getmdl.io/components/index.html#dialog-section). A polyfill is available  @ https://github.com/GoogleChrome/dialog-polyfill and the demo @ http://demo.agektmr.com/dialog/ shows that the content can be scrolled even if a dialog is

[2016-04-14 17:04] darkyen commented on #253
That is beyond the scope of this library though as it is a microwrapper.

On Thu, Apr 14, 2016 at 12:14 PM, jolic <notifications@github.com> wrote:

[2016-04-15 16:44] tleunen commented on #253
If it's (currently) only an issue on the React-MDL website because of the inner panel scrolling.. That's ok. I won't change how it works because of that.
MDL is built with the native dialog feature, so we do the same. It doesn't make a lot a sense now to create a dialog module since a native dialog is available for us.

[2016-04-16 00:48] darkyen commented on #253
@tleunen (: have you branched off from the just a micro-wrapper approach?

[2016-04-16 12:24] tleunen commented on #253
Lets talk about v2 there https://github.com/tleunen/react-mdl/pull/258 ;)

[2016-04-16 15:04] darkyen commented on #239
Here is a proof of concept

There is more than just adding the npm cdn ;-)

you will also have to add the custom material.js and material.css

http://codepen.io/darkyen/pen/VaxPjg?editors=0010

[2016-04-16 15:29] tleunen commented on #239
Each demo on the website has a link to codepen if needed. (But I just noticed it's currently broken, I have to investigate why)

[2016-04-16 15:50] darkyen commented on #239
@tleunen it works with @1.4.2 but not the latest.

[2016-04-16 17:13] gon250 commented on #283
How do you display the content, I'm having problems to display data from my props. In case I have to display data like below is ok, take a look.

[code]

The problem is when I have to try to display data from my props as below:

[code]

Any idea how can I display it? if is not possible would be good implement a way to allow to display content in the tabs, isn't it?

[2016-04-16 17:27] tleunen commented on #283
Are you sure `stackoverflow` is not an empty array?

[2016-04-16 18:11] gon250 commented on #283
I'm sure, I have tried without the code below and it's working.

[code]

I mean like this:

[code]

I think is because the code is inside `{function(){// ...}.call(this)}`

Any idea?
Thanks.

[2016-04-16 19:42] Download commented on #254
I actually rebuilt react-mdl's `Drawer` to be a controlled component with an `open` property. I also added an `autoClose` property that closes the drawer after a click on a nav link. It's a feature that has been requested many times on mdl.

It also has a `right` property to use it on the right hand side of the screen, but you may not like that part so much depending on your position on the 'holyn

[2016-04-16 20:53] tleunen commented on #283
Not sure about the function there...

What if you replace that with this?
[code]

[2016-04-17 00:31] gon250 commented on #283
my mistake... you are right 👍 ! Thanks!!

[2016-04-17 00:52] #283 closed

[2016-04-17 11:42] xdvarpunen opened #284 "import react-mdl and external links"
Are these;
[code]
necessary? Could these be included into npm?

-XDVarpunen

[2016-04-17 11:51] xdvarpunen commented on #284
Actually just read about 2.x update. Font needs to be downloaded externally still though.

[2016-04-17 11:51] #284 closed

[2016-04-17 13:41] tleunen commented on #284
You can also import them in your entry point with webpack for example ;)
See https://github.com/tleunen/react-mdl/blob/master/docs/pages/_template.js#L11-L12

[2016-04-18 02:49] tleunen opened #285 "[v2] Rewrite Tooltip without the need of mdlUpgrade"
Currently, the `Tooltip` component requires the javascript code from material design to work properly. We should rewrite the component as a true React component without that dependency.

It should also move in its own directory, with its tests. See `Badge` as an example.

[2016-04-18 02:50] tleunen opened #286 "[v2] Rewrite Textfield without mdlUpgrade"
Currently, the `Textfield` component requires the javascript code from material design to work properly. We should rewrite the component as a true React component without that dependency.

It should also move in its own directory, with its tests. See `Badge` as an example.

[2016-04-18 02:51] tleunen opened #287 "[v2] Rewrite Switch without mdlUpgrade"
Currently, the `Switch` component requires the javascript code from material design to work properly. We should rewrite the component as a true React component without that dependency.

It should also move in its own directory, with its tests. See `Badge` as an example.

[2016-04-18 02:52] tleunen opened #288 "[v2] Rewrite Spinner without mdlUpgrade"
Currently, the `Spinner` component requires the javascript code from material design to work properly. We should rewrite the component as a true React component without that dependency.

It should also move in its own directory, with its tests. See `Badge` as an example.

[2016-04-18 02:52] tleunen opened #289 "[v2] Rewrite Slider without mdlUpgrade"

[2016-04-18 02:53] tleunen opened #290 "[v2] Rewrite Radio without mdlUpgrade"
Currently, the `Radio` component requires the javascript code from material design to work properly. We should rewrite the component as a true React component without that dependency.

It should also move in its own directory, with its tests. See `Badge` as an example.

[2016-04-18 02:53] tleunen opened #291 "[v2] Rewrite ProgressBar without mdlUpgrade"
Currently, the `ProgressBar` component requires the javascript code from material design to work properly. We should rewrite the component as a true React component without that dependency.

It should also move in its own directory, with its tests. See `Badge` as an example.

[2016-04-18 02:54] tleunen opened #292 "[v2] Rewrite Menu without mdlUpgrade"
Currently, the `Menu` component requires the javascript code from material design to work properly. We should rewrite the component as a true React component without that dependency.

It should also move in its own directory, with its tests. See `Badge` as an example.

[2016-04-18 02:55] tleunen opened #293 "[v2] Rewrite IconToggle without mdlUpgrade"
Currently, the `IconToggle` component requires the javascript code from material design to work properly. We should rewrite the component as a true React component without that dependency.

It should also move in its own directory, with its tests. See `Badge` as an example.

[2016-04-18 02:55] tleunen opened #294 "[v2] Rewrite IconButton without mdlUpgrade"
Currently, the `IconButton` component requires the javascript code from material design to work properly. We should rewrite the component as a true React component without that dependency.

It should also move in the Button directory.

[2016-04-18 02:56] tleunen commented on #294
No rewrite required. It's an error

[2016-04-18 02:56] #294 closed

[2016-04-18 02:58] tleunen opened #295 "[v2] Rewrite Layout without mdlUpgrade"
The `Layout` component is probably the biggest and the most complicated component in the material design lite library at the moment.
We should remove the need of the `mdlUpgrade` function on the Layout, and add what's needed for each component to be fully controlled with props.

[2016-04-18 03:01] tleunen opened #296 "[v2] Make checkbox controlled and uncontrolled component"
Title says it all.

[2016-04-18 03:41] darkyen commented on #285
I will take this one.

[2016-04-18 05:08] xdvarpunen commented on #284
Thanks! c:

[2016-04-18 12:34] lsemerini commented on #269
@tleunen

You mean something like this?

`<div style={{position: 'relative'}}>
			<IconButton name="more_vert" id="demo-menu-lower-right" />
			<Menu target={
				<ComponentX />
			} align="right">
				<MenuItem>Some Action</MenuItem>
				<MenuItem>Another Action</MenuItem>
				<MenuItem disabled>Disabled Action</MenuItem>
				<MenuItem>Yet Another Action</MenuItem>
			</Menu>
		</div>`

That will

[2016-04-18 13:21] tleunen commented on #285
Thank you @darkyen! :)

[2016-04-18 13:22] tleunen commented on #269
Yes I meant that. I'm still not sure about it since it's not something common in a React world :)

[2016-04-20 00:16] Download opened #298 "Dependency names wrong when using React MDL from script"
I am including React MDL 1.5.3 from [npmcdn](https://npmcdn.com/react-mdl@1.5.3/out/ReactMDL.js).

If you follow that link and inspect the top of the file (UMD header) you see this line;

[code]
...which seems strange. I would expect `React` and `ReactDOM`.
And indeed, I am getting this error:

When I inspect the `window` object, prior to React MDL loading, I see that the `React` object is there ,

[2016-04-20 00:19] Download commented on #298
I think it broke in this PR:
https://github.com/tleunen/react-mdl/pull/272/files

[2016-04-20 00:22] Download commented on #267
This change breaks including ReactMDL from a regular script tag.
See https://github.com/tleunen/react-mdl/issues/298

[2016-04-20 00:29] Download commented on #267
`react` and `react-dom` are the module names. `React` and `ReactDOM` are the names of the externals. This is reflected in webpack's config:

[code]

This snippet of config is mapping the module `react` to the external `React`, which is expected to be found on the `root` object (which is `this`, which is `window`). This config was good before it was changed. These are *externals*, because ReactMDL

[2016-04-20 00:57] tleunen commented on #267
https://github.com/tleunen/react-mdl/pull/272
Indeed, kinda make sense... So are the `require('React')` and `require('ReactDOM')` expected in the header of the output file?

[2016-04-20 01:00] tleunen commented on #267
I'll revert the specific commit.

@PavelPZ I don't know your initial issue, but maybe this ticket will help you https://github.com/webpack/webpack/issues/1275

[2016-04-20 01:03] tleunen commented on #298
Thanks @Download for the investigation.
I'll revert the commit in https://github.com/tleunen/react-mdl/pull/299

[2016-04-20 01:08] #298 closed

[2016-04-20 14:36] Download commented on #267
I don't think so actually. It is my understanding that `require` is supposed to accept the module name (lowercase), whereas the 'import' from the `window` object is supposed to use the uppercase name... I'm not sure what (if any) is the right term for that name... 'global name' maybe?

[2016-04-20 14:46] tleunen commented on #267
In v1.4.3 for example, we had this header:
[code]
So I'm guessing if someone wants to use the bundled file, with their own code, they would need to configure their webpack to say `window.React` should be used when `require('react')` is done, right?
I'm just unsure about these lines above. To me, it should be the name in lowercase...

This following like is ok though, since root is the window.
`roo

[2016-04-20 14:51] Download commented on #267
Yeah I see what you mean. I agree that I would also expect the `require` lines to use the lowercase module name... I know that webpack is inserting it's own require so maybe it's got something to do with that?

[2016-04-20 14:54] tleunen commented on #267
I don't know :/
This seems to be the real `require` function, not the webpack one `__webpack_require__`.
But it looks like are forced to use the same name for all cases.
Another example of this would be with `ReactMDL`. `ReactMDL` is the name exported on "window", but the package name is still `react-mdl`.

[2016-04-20 15:00] Download commented on #267
Yeah you are right it must be the real `require`... But still it works? Strange. I have to admit that I find webpack's config options very confusing at times. Maybe the best thing would be to just ask a question on the webpack issue tracker? Sokra is a very helpful guy I bet he is willing to help. He helped me in the past with questions I had.

For comparison, here is React DOM:
https://npmcdn.com

[2016-04-20 15:04] Download commented on #267
I think your `peerDependencies` need an update BTW:

[code]

I think that NPM sees `15.0.0` as incompatible with `15.0.0-rc`, though again I'm not sure.

[2016-04-20 15:06] Download commented on #267
It seems you can specify aliases per output target:

[code]

See
http://stackoverflow.com/questions/34252424/webpack-umd-lib-and-external-files

[2016-04-20 15:17] tleunen commented on #267
For the peerDeps, it should be ok, I used this tool to confirm http://semver.npmjs.com/

Good news for the output targets. I'll give it a try when I get some time :) Thanks again @Download

[2016-04-20 15:18] Download commented on #267
@tleunen I'm preparing a PR for it

[2016-04-20 15:49] Download commented on #267
@tleunen Could you re-open this issue?

[2016-04-20 15:52] Download opened #300 "Build does not work on Windows"
[code]

Don't worry, I'm intending to fix this myself  :)

[2016-04-20 17:27] #300 closed

[2016-04-21 08:55] Download opened #302 "data-upgraded causes Warning: React attempted to reuse markup in a container but the checksum was invalid"
I'm using server-side rendering and have been getting warnings about React not re-using the server-side markup because it differs (ever so slightly) from the client generated markup. I'm now trying to get rid of these warning but I'm kinda stuck on this one:

I realize that `data-upgraded` is probably added by the material.js script which is actually not part of this project (or shouldn't be at le

[2016-04-21 09:02] Download commented on #302
My server does not actually render the `data-upgraded` attribute; it is added by material.js after it loads, but before the client has kicked in... Maybe there could be a way to prevent material.js from doing it's work until the client has actually kicked in and rendered for the first time?

[2016-04-21 10:17] Download commented on #295
I've been thinking about this one a lot. My app has 2 drawers, one on the left hand side and one on the right. MDL's Layout component is a pain in this regard because it assumes you may have a left drawer but never a right one. I ended up using my own drawer component that is fully controlled.

Personally, I think in React MDL, the Layout should be *much* simpler. It shouldn't make so many assumpt

[2016-04-21 10:37] Download commented on #302
I've done some more digging.

I think I could prevent the issue by changing this code in material.js:

[code]

My idea is to place this code in a separate function `initializeMDL`, and then let the script check a flag before it assigns this function to `onload`, like this:

[code]

This would allow me to suppress this behavior initially until after the client has first rendered the markup, at whic

[2016-04-21 12:10] tleunen commented on #302
If you register these events, wouldn't this override the default upgrade and then never upgrade the elements?

[2016-04-21 12:12] tleunen commented on #302
Oh nm, I see... So basically, you'll trigger the initialize manually instead of automatically onload, is that right?

[2016-04-21 12:18] tleunen commented on #295
It's definitely the way to go, but it can be hard to achieve now with the current css. `mdl-layout--fixed-drawer` is applied on the layout, not on the drawer :s

[2016-04-21 18:32] Download commented on #302
Yeah that was my idea, but it looks like that's not even needed. I think it works because when the React MDL components are mounted they already upgrade themselves. It looks like we could just drop the initial upgrade components in on load altogether and it would work just fine. But I haven't done any serious testing, just clicking around in my app.

[2016-04-21 18:35] Download commented on #295
Yeah I know. But honestly, the whole fixed thing isn't working very well i.c.w. React. Because they have all these responsive style rules that have a big impact on the structure.

Are you in contact with them for their v2? I think they could use the feedback of where we have problems.

[2016-04-23 14:58] Download commented on #302
For what it's worth, my app is now live on http://www.bridalapp.net with this change in it. It seems to be working flawlessly so far.

[2016-04-23 19:24] tleunen commented on #302
Something is weird, I just remembered that I added this line to make server rendering work https://github.com/tleunen/react-mdl/blob/master/extra/material.js#L4
So in theory, the file should not even be executed.

[2016-04-23 20:22] tleunen commented on #302
Merged in master.

[2016-04-23 20:22] #302 closed

[2016-04-23 20:25] #276 closed

[2016-04-23 23:17] Download commented on #302
@tleunen
The problem is that the file executes on the client before React had a chance to render the first view on the client; then when React tries to render, it notices that what it has rendered is different from what the current state of the DOM is.

I think React does a very strict check on the existing state of the DOM when it is rendering for the very first time to decide whether to keep it

[2016-04-23 23:18] tleunen commented on #302
Yeah sorry, for some reasons I thought the issue was on server, but after reading it it was clear it was the client ;)

[2016-04-24 22:49] #296 closed

[2016-04-26 15:46] Kuirak opened #304 "[Textfield] Allow label be a component"
I'd like to use some other components (e.g.  `FormattedText` from react-intl) for the `label` on a text field.

If i set the id to a value it works with the current code:
`<Textfield label={<FormattedText id="MyLabel"/>}  id="foo" />`

Maybe it could be changed that `customId` is generate by something like lodash `uniqueId` and the `propTypes` allow components as label.

[2016-04-26 15:51] tleunen commented on #304
The problem with a automatically generated id is that you cannot really guarantee that you id will be the same between the server rendering and the client rendering... That's why it was based on the label.

For the fact to allow custom component for the label, I don't have anything against it, except I'm not a big fan if this syntax. It doesn't seem very "React". Maybe I'm wrong.
One other thing c

[2016-04-27 15:57] Kuirak commented on #304
Actually I like this syntax with passing a fully valid component as prop. It is basically the same syntax you use for the `<Header title={<Icon name="logo"/>} />`.

It helps knowing where the passed component will be used in the actual component.

In my opinion either label or labelComponent should be set but not both.

[2016-04-27 16:23] tleunen commented on #304
I'll go with the component inside `label` ;)

[2016-04-28 11:44] kctang opened #305 "Custom icon layout header?"
Anyway to replace the default hamburger icon with a custom icon? Trying to do a screen with "back" button when using a header like this [stackoverflow question](http://stackoverflow.com/questions/31362929/how-to-make-icon-move-to-the-left-on-mdl-header).

[2016-04-28 11:52] tleunen commented on #305
Thanks @kctang. Currently, it's not as easy as it seems to be to offer this possibility.
The button is located inside the `Layout` component, but this is an option that should live in the `Drawer` component :s
We can think of something for v2, but for v1 it will be hard... Unless someone has a good idea how we could do it.

[2016-04-30 02:35] Chun-Yang commented on #304
Any one is working on this? I can give it a shot.

[2016-04-30 03:06] tleunen commented on #304
Not that I'm aware of ;-)

[2016-04-30 15:27] tleunen opened #308 "[v2] The ripple effect doesn't work all the time on checkboxes"
For some reasons, the ripple effect doesn't work on all the time on the checkbox and icontoggle...

[2016-04-30 16:31] #293 closed

[2016-04-30 18:42] #287 closed

[2016-05-01 04:33] tleunen commented on #285
Hey @darkyen, any update on this one? ;)
I might jump on it tomorrow, since I'd need it to finish something in the new tests for the Table components.

[2016-05-01 04:40] darkyen commented on #285
Oh haven't had enough time because of work. You can hop on it, I will take
other ones :-( sorry!

On Sun, May 1, 2016 at 12:33 AM, Tommy <notifications@github.com> wrote:

[2016-05-01 04:49] tleunen commented on #285
Np ;-)

[2016-05-01 18:28] #285 closed

[2016-05-06 12:25] dimik opened #312 "Unable to use ref with Components created with utils.basicClassCreator"
I got this warning with the latest React and ref has a null value

i believe it's because of your basicClassCreator returns arrow function instead of real Component Class
You can check the React documentation about it
https://facebook.github.io/react/docs/reusable-components.html#stateless-functions

[2016-05-06 12:54] tleunen commented on #312
Yes, because they are SFC.

What's your usecase?

[2016-05-06 13:22] dimik commented on #312
I have List with overflow: scroll and need to set scrollTop=0 on it in event handler

[2016-05-06 13:51] tleunen commented on #312
Better to wrap your component in a class component to be able to use the ref if this is your need.

[2016-05-09 08:44] Download commented on #305
I have already implemented this in my own adaptation of Drawer. And indeed it's tricky. The problem is the coupling between the components as you say:

The solution is the same as always in React: use props  :)

What I did was hide the hamburger menu in CSS, then use a 'real' React button that know's nothing of the drawer and just calls an `onClick` handler when pressed. This handler than toggles

[2016-05-10 21:33] noisecapella opened #313 "Textfield floating label covers text when backspace is pressed and when value prop doesn't change"
To reproduce:

Go here: http://codepen.io/anon/pen/oxVYyM?editors=001
Or render a `TextField` with a `value` with one character and an empty `onChange` handler. Press backspace, then click elsewhere to remove focus. The floating label will move to cover the text.

I think the problem could be fixed by removing the `this.props.value !== prevProps.value` check in [this line](https://github.com/tleun

[2016-05-11 22:16] tleunen commented on #313
Thank you for the bug report @noisecapella.

I can see what we can do, but it's definitely low priority to me since you're not supposed to provide an empty `onChange` if you're specifying a value.

[2016-05-11 22:22] #312 closed

[2016-05-12 00:40] noisecapella commented on #313
Sorry, the example might be a bit oversimplified. I added another codepen which is closer to the problem we're having: http://codepen.io/anon/pen/mPozRG?editors=0010

To reproduce, select all text and delete it (or one character at a time if you prefer). The text won't change because the onChange handler only allows text with at least one character. Change focus away from the textbox, and the floa

[2016-05-12 01:01] tleunen commented on #313
Oh I see.. So yes, it really looks like a bug

[2016-05-13 09:47] be-next-hotdog opened #314 "Cell and Grid shadow option doesn't work ?"
Hi, ss I said on the topic, anyone met the same prob as mine ?

Thx a lot.

[2016-05-13 13:30] tleunen commented on #314
Looks like `shadow={3}` doesn't work, but the others seem to be fine.

You can see in this file we only accept a number from 0 to 6 (included): https://github.com/tleunen/react-mdl/blob/master/src/utils/shadows.js

Also, currently the prop value doesn't match the real shadow value, this should be improved (and add the missing values (see https://github.com/google/material-design-lite/blob/master/s

[2016-05-19 22:51] fabiozaffani opened #315 "Shouldn't the dialogPolyfill be called on the componentDidMount of the component?"
Just a simple question, but wouldn't be better to call the dialog to upgrade with a line of code like this

window.dialogPolyfill.registerDialog(ReactDOM.findDOMNode(this));
or (because i haven't tested it yet)
window.dialogPolyfill.registerDialog(this.refs.dialog);

Inside the componentDidMount of the dialog component?

[2016-05-19 23:14] tleunen commented on #315
At first, I believed it would be best to let the end user register the polyfill, but in the end I don't think it was a good idea.
This should be resolved in v2.

[2016-05-19 23:49] fabiozaffani commented on #315
Ah ok, great then!

[2016-05-20 02:44] puranjayjain opened #316 "[Date] [Time] Picker Feature Request"
Hi, as suggested by @jolic [here](https://github.com/puranjayjain/md-date-time-picker/issues/52), I would like to start a PR for the material design pickers.
But before that I have some questions:
* Although the component is not available in mdl but it would be a really nice addition to react-mdl. There is already a PR on mdl repo for the component so why not add it to react-mdl as well? :smile:
*

[2016-05-21 10:58] mdpedersen commented on #315
I agree that this would be much nicer!

Also, after integrating dialog-polyfill in a react-mdl project, I've found it to be somewhat brittle in some situations. When a dialog is removed from the DOM, the polyfill dialog overlay (with class _dialog_overlay) sometimes remains in the DOM, and dialogs that are shown subsequently can no longer receive focus. I'm not yet sure exactly how to reproduce th

[2016-05-27 01:24] Natanael1234 opened #319 "How to handle events in DataTable?"
How to handle events like clicks in a specific row or column?

[2016-05-27 02:07] tleunen commented on #319
Clicking an entire row or column is unfortunately not possible, but you should be able to put a button or any other component in a cell with a custom renderer (with `cellFormatter`).

[2016-05-27 09:59] Natanael1234 commented on #319
I already solved this problem. You can pass an react component with an onclick event inside the array passed as rows parameter.

[2016-05-27 12:09] #319 closed

[2016-05-27 17:57] achtan opened #320 "import ReactMDL from 'react-mdl'; not working"
[code]
version `1.5.4`

[2016-05-29 15:07] Natanael1234 opened #321 "How can I centralize an element?"
I found [this example](https://tleunen.github.io/react-mdl/templates/article/) but don't found any source code showing how to implement.

[2016-05-29 16:04] Natanael1234 commented on #321
Answer

		return (
			<DataTable       onClick = { onSelection }
                                         **style={{width: '80%', margin: 'auto'}}**
			                 shadow  = { 0 	         }
			                 rows 	 = { cells       } >
			    <TableHeader name    = "id" 		       >Id 		    </TableHeader>
			    <TableHeader name    = "nome" 		     >Nome 		  </TableHeader>
			    <TableHeader

[2016-05-29 22:10] tleunen commented on #321
It really depends on what you want to center. Your datatable example will indeed work to center a datatable.

For the example you mention in the first post, the article template, this is done because it used the Grid system. There is a 2 empty columns sized before the "main" part. Also, this system allows to automatically hide the 2 first columns when the view is in a "mobile" or "tablet" mode, to